<div class="video-intro-position">
    <img src="/imgs/watch-intro-text.png"/>
    {{ember-youtube ytid="d7u0KTs649M" playing="videoPlaying" paused="videoPaused" ended="videoEnded" delegate=controller delegate-as="videoPlayer" autoplay=false}}
</div>
