<footer class="footer">
    <div class="container">
      	<div class="col-md-3">
        	<div class="footer-section-wrapper">
	        	<div id="footerLogo"><img src="/imgs/logo.png"/></div>
	        	<p>
	        		As a small law firm, we are capable of providing clients with the responsive and individualized attention they deserve. However, we also have the experience and resources expected from a larger law firm.
	        	</p>
        	</div>
        </div>
        
        <div class="col-md-3">
        	<div class="footer-section-wrapper">
	        	<h3>Navigation</h3>
	        	<ul>
	        		<li>{{#link-to 'home'}}Home{{/link-to}}</li>
	        		<li>{{#link-to 'about'}}Get To Know Us{{/link-to}}</li>
	        		<li>{{#link-to 'about-dba.what-is-dba'}}Defense Base Act{{/link-to}}</li>
	        		<li>{{#link-to 'countries.japan'}}Countries{{/link-to}}</li>
	        		<li>{{#link-to 'practice-areas.workers-comp'}}Practice Areas{{/link-to}}</li>
	        		<li>{{#link-to 'contact'}}Contact Us{{/link-to}}</li>
	        	</ul>
        	</div>
        </div>

        <div class="col-md-3">
        	<div class="footer-section-wrapper">
	        	<h3>Important Pages</h3>
	        	<ul>
	        		<li>{{#link-to 'about-dba.what-is-dba'}}What is DBA Law?{{/link-to}}</li>
	        		<li>{{#link-to 'about-dba.dba-injuries'}}Defense Base Act Injuries{{/link-to}}</li>
	        		<li>{{#link-to 'about-dba.dba-comp'}}Defense Base Act Compensation{{/link-to}}</li>
	        		<li>{{#link-to 'about-dba.dba-lawyers'}}Defense Base Act Lawyers{{/link-to}}</li>
	        		<li>{{#link-to 'about-dba.dba-backgrounds'}}Background of the Defense Base Act{{/link-to}}</li>
	        	</ul>	
        	</div>
        </div>

        <div class="col-md-3">
        	<div class="footer-section-wrapper">
        		<h3>Contact Info</h3>
				<div>
					<i class="fa fa-map-marker"></i>
					<p> 400 N Pine Island Rd #200<br/>
					Plantation, FL 33324</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>(954) 749-0500</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:Contact@BaisdenPerezLaw.com">Contact@BaisdenPerezLaw.com</a></p>
				</div>
			</div>
        </div>
    </div>
</footer>
<div class="bottom-footer">
	<div class="container">
		<p>Designed by <a href="http://www.handmade-digital.com/"> Handmade Digital</a> ©2015 All rights reserved.</p>
	</div>
</div>