 <ul id="mainMenu" class="tgl-megadrop is-active">
	<li>{{#link-to 'home'}}Home{{/link-to}}</li>
	<li> {{#link-to 'about.mario'}}Get To Know Us{{/link-to}}</li>
	<li class="has-submenu">
		{{#link-to 'about-dba.why-dba-attorney'}}Defense Base Act{{/link-to}}
		<div class="submenu-wrapper mega-full-width">
	        <div class="mega-col-4">
	            <img src="imgs/dba-megadrop-icon.png">
	        </div>
	        <div class="mega-col-8">
	            <div class="mega-title">
	                <h2>Defense Based Act</h2>
	            </div>
	            <div class="row">
	            	<div class="mega-col-6">
	            		<ul class="submenu-menu">
	            			<li>
	            				{{#link-to 'about-dba.why-dba-attorney'}}Why a Defense Base Act Attorney Makes Sense?{{/link-to}}
	            			</li>
	            			<li>
	            				{{#link-to 'about-dba.what-is-dba'}}What is DBA Law?{{/link-to}}
	            			</li>
	            			<li>
	            				{{#link-to 'about-dba.dba-comp'}}Defense Base Act Compensation{{/link-to}}
	            			</li>
	            			<li>
	            				{{#link-to 'about-dba.dba-injuries'}}Defense Base Act Injuries{{/link-to}}
	            			</li>
	            		</ul>
	            	</div>
	            	<div class="mega-col-6">
	            		<ul class="submenu-menu">
	            			<li>
	            				{{#link-to 'about-dba.what-to-expect'}}What to Expect After Filling a DBA Claim{{/link-to}}
	            			</li>
	            			<li>
	            				{{#link-to 'about-dba.dba-lawyers'}}Defense Base Act Lawyers{{/link-to}}
	            			</li>
	            			<li>
	            				{{#link-to 'about-dba.dba-backgrounds'}}Background of the Defense Base Act{{/link-to}}
	            			</li>
	            			<li>
	            				{{#link-to 'about-dba.dba-claims'}}What is the DBA Claims Process?{{/link-to}}
	            			</li>
	            			
	            		</ul>
	            	</div>
	            </div>
	        </div>
	    </div>
    </li>
    <li class="has-submenu">
    	{{#link-to 'countries.japan'}}Countries{{/link-to}}
    	<div class="submenu-wrapper mega-full-width">
	        <div class="mega-col-4">
	            <img src="imgs/countries-megadrop-icon.png">
	        </div>
	        <div class="mega-col-8">
	            <div class="mega-title">
	                <h2>Countries</h2>
	            </div>
	            <div class="row">
	            	<div class="mega-col-6">
	            		<ul class="submenu-menu">
	            			<li>
	            				{{#link-to 'countries.afghanistan'}}Afghanistan{{/link-to}}
	            			</li>
	            			<li>
	            				{{#link-to 'countries.guam'}}Guam{{/link-to}}
	            			</li>
	            			<li>
	            				{{#link-to 'countries.iraq'}}Iraq{{/link-to}}
	            			</li>
	            		</ul>
	            	</div>
	            	<div class="mega-col-6">
	            		<ul class="submenu-menu">
	            			<li>
	            				{{#link-to 'countries.japan'}}Japan{{/link-to}}
	            			</li>
	            			<li>
	            				{{#link-to 'countries.kuwait'}}Kuwait{{/link-to}}
	            			</li>
	            			<li>
	            				{{#link-to 'countries.qatar'}}Qatar{{/link-to}}
	            			</li>
	            		</ul>
	            	</div>
	            </div>
	        </div>
	    </div>
	</li>    
    <li class="has-submenu">
    	{{#link-to 'practice-areas.personal-injury'}}Practice Area{{/link-to}}
    	<div class="submenu-wrapper mega-full-width">
	        <div class="mega-col-4">
	            <img src="imgs/practice-areas-icon.png">
	        </div>
	        <div class="mega-col-8">
	            <div class="mega-title">
	                <h2>Practice Area</h2>
	            </div>
	            <div class="row">
	            	<div class="mega-col-4">
	            		<ul class="submenu-menu">
	            			<li>
	            				{{#link-to 'practice-areas.cruise-ship'}}Cruise Ship{{/link-to}}
	            			</li>
	            			<li>
	            				{{#link-to 'practice-areas.defense-base-acts'}}Defense Base Act{{/link-to}}
	            			</li>
	            			<li>
	            				{{#link-to 'practice-areas.jones-act'}}Jones Act{{/link-to}}
	            			</li>
	            			
	            		</ul>
	            	</div>
	            	<div class="mega-col-4">
	            		<ul class="submenu-menu">
	            			<li>
	            				{{#link-to 'practice-areas.longshore-act'}}Longshore Act{{/link-to}}
	            			</li>
	            			<li>
	            				{{#link-to 'practice-areas.maritime-law'}}Maritime Law{{/link-to}}
	            			</li>
	            			<li>
	            				{{#link-to 'practice-areas.non-appropriated'}}Non Appropriated{{/link-to}}
	            			</li>
	            			
	            		</ul>
	            	</div>
	            	<div class="mega-col-4">
	            		<ul class="submenu-menu">
	            			<li>
	            				{{#link-to 'practice-areas.outer-lands'}}Outer Lands{{/link-to}}
	            			</li>
	            			<li>
	            				{{#link-to 'practice-areas.personal-injury'}}Personal Injury{{/link-to}}
	            			</li>
	            			<li>
	            				{{#link-to 'practice-areas.workers-comp'}}Workers' Compensation{{/link-to}}
	            			</li>
	            		</ul>
	            	</div>
	            </div>
	        </div>
	    </div>
	</li>    
    <li>{{#link-to 'contact'}}Contact Us{{/link-to}}</li>
    <li><a id="spanishSiteIcon" href="http://spanish.baisdenperezlaw.com/"><img src="/imgs/spanish-map-icon.png" /> Spanish</a></li>
</ul>

<div id="mobileMenu" class="is-disabled">
	<a class="mobile-menu-button"  href="#"><img src="/imgs/menu-icon.png" /></a>
</div>

<div class="is-disabled" id="sideMenu">
	<ul>
		<li>{{#link-to 'home'}}<img src="/imgs/home-icon.png" /> Home{{/link-to}}</li>
		<li> {{#link-to 'about.mario'}}<img src="/imgs/about-icon.png" /> Get To Know Us{{/link-to}}</li>
		<li class="has-submenu">
			<a><img src="/imgs/dba-icon.png" /> Defense Base Act</a>
			<div class="submenu-wrapper">
        		<ul class="submenu-menu">
        			<li>
        				{{#link-to 'about-dba.why-dba-attorney'}}Why a Defense Base Act Attorney Makes Sense?{{/link-to}}
        			</li>
        			<li>
        				{{#link-to 'about-dba.what-to-expect'}}What to Expect After Filling a DBA Claim{{/link-to}}
        			</li>
        			<li>
        				{{#link-to 'about-dba.dba-comp'}}Defense Base Act Compensation{{/link-to}}
        			</li>
        			<li>
        				{{#link-to 'about-dba.dba-injuries'}}Defense Base Act Injuries{{/link-to}}
        			</li>
        			<li>
        				{{#link-to 'about-dba.dba-lawyers'}}Defense Base Act Lawyers{{/link-to}}
        			</li>
        			<li>
        				{{#link-to 'about-dba.dba-backgrounds'}}Background of the Defense Base Act{{/link-to}}
        			</li>
        			<li>
        				{{#link-to 'about-dba.dba-claims'}}What is the DBA Claims Process?{{/link-to}}
        			</li>
        			<li>
        				{{#link-to 'about-dba.what-is-dba'}}What is DBA Law?{{/link-to}}
        			</li>
        		</ul>	
		    </div>
	    </li>
	    <li class="has-submenu">
	    	<a><img src="/imgs/countries-icon.png" /> Countries</a>
	    	<div class="submenu-wrapper">	
        		<ul class="submenu-menu">
        			<li>
        				{{#link-to 'countries.afghanistan'}}Afghanistan{{/link-to}}
        			</li>
        			<li>
        				{{#link-to 'countries.guam'}}Guam{{/link-to}}
        			</li>
        			<li>
        				{{#link-to 'countries.iraq'}}Iraq{{/link-to}}
        			</li>
        			<li>
        				{{#link-to 'countries.japan'}}Japan{{/link-to}}
        			</li>
        			<li>
        				{{#link-to 'countries.kuwait'}}Kuwait{{/link-to}}
        			</li>
        			<li>
        				{{#link-to 'countries.qatar'}}Qatar{{/link-to}}
        			</li>
        		</ul>		           
		    </div>
		</li>    
	    <li class="has-submenu">
	    	<a><img src="/imgs/practice-area-icon.png" /> Practice Area</a>
	    	<div class="submenu-wrapper">	        
		        <ul class="submenu-menu">
		        	<li>
		        		{{#link-to 'practice-areas.cruise-ship'}}Cruise Ship{{/link-to}}
		        	</li>
		        	<li>
		        		{{#link-to 'practice-areas.defense-base-acts'}}Defense Base Act{{/link-to}}
		        	</li>
		        	<li>
		        		{{#link-to 'practice-areas.jones-act'}}Jones Act{{/link-to}}
		        	</li>
		        	<li>
		        		{{#link-to 'practice-areas.longshore-act'}}Longshore Act{{/link-to}}
		        	</li>
		        	<li>
		        		{{#link-to 'practice-areas.maritime-law'}}Maritime Law{{/link-to}}
		        	</li>
		        	<li>
		        		{{#link-to 'practice-areas.non-appropriated'}}Non Appropriated{{/link-to}}
		        	</li>
		        	<li>
		        		{{#link-to 'practice-areas.outer-lands'}}Outer Lands{{/link-to}}
		        	</li>
		        	<li>
		        		{{#link-to 'practice-areas.personal-injury'}}Personal Injury{{/link-to}}
		        	</li>
		        </ul>		            
		    </div>
		</li>    
	    <li>{{#link-to 'contact'}}<img src="/imgs/contact-icon.png" /> Contact Us{{/link-to}}</li>
	    <li><a id="spanishSiteIcon" href="http://spanish.baisdenperezlaw.com/"><img src="/imgs/spanish-map-icon.png" /> Spanish</a></li>
    </ul>
</div>