						{{#link-to 'spanish.about.mario'}}
	                        <div class="team-member-tab" id="marioActive">
	                            <div class="team-member-tab-icon">
	                                <img src="/imgs/mario.png" alt="Genavice Baisden Icon Image">
	                            </div>
	                            <p>Mario Perez</p>
	                        </div>
                        {{/link-to}}

                        {{#link-to 'spanish.about.randell'}}
	                        <div class="team-member-tab" id="randellActive">
	                            <div class="team-member-tab-icon">
	                                <img src="/imgs/randall.png" alt="Genavice Baisden Icon Image">
	                            </div>
	                            <p> Randell Baisden</p>
	                        </div>
                        {{/link-to}}

                        {{#link-to 'spanish.about.alexander'}}
	                        <div class="team-member-tab" id="alexActive">
	                            <div class="team-member-tab-icon">
	                                <img src="/imgs/alex.png" alt="Genavice Baisden Icon Image">
	                            </div>
	                            <p> Alexander Baisden</p>
	                        </div>
                        {{/link-to}}

                        {{#link-to 'spanish.about.genevieve'}}
	                        <div class="team-member-tab" id="genevieveActive">
	                            <div class="team-member-tab-icon">
	                                <img src="/imgs/genavive.png" alt="Genevieve Baisden Icon Image">
	                            </div>
	                            <p> Genevieve Baisden</p>
	                        </div>
                        {{/link-to}}