<div class="practice-area" id="cruiseShip">
    {{nav-bar}}

    {{cta-circles}}
    <div id="cruiseShipBg"></div>

    <div class="page-content">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">

                        <h4><em>Practice Area</em></h4>

                        <h3>Cruise Ship Injuries</h3>

                        <div id="headerDivider">
                            <div id="dividerStart"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="section-content">

                        <p>
                            Cruises are supposed to be about making lifetime memories, sailing the Seven Seas with loved 
                            one and traveling to exotic locations. Many couples and families save up for months in order to 
                            book that dream cruise vacation. Few do so thinking of the many ways their dream cruise could 
                            turn into a nightmare. Consider the following cruise ship disasters that made the news in recent 
                            years:
                        </p>

                        <ul>
                            <li>A cruise ship ran aground and capsized, killing several passengers and injuring many more;</li>
                            <li>Another cruise ship lost power and passengers were adrift for several days, forced to
                                contend with nearly-inhumane conditions;</li>
                            <li>On yet another cruise ship, passengers became severely ill after consuming tainted food.</li>
                        </ul>

                        <p>
                            These sorts of incidents are more than inconveniences. Rather, they can result in serious, even
                            life-threatening, injuries to you and your family. You may not only have your family vacation 
                            ruined, but you may also need to incur medical costs and may even miss time from work.
                        </p>

                        <p>
                            When you have been injured while aboard a cruise ship, turn to a local experienced cruise ship 
                            injury attorney for help in obtaining monetary damages for your pain, suffering, and losses.
                        </p>

                        <div class="section-subheader">
                            <h3>What Personal Injury Incidents Can Occur on a Cruise Ship?</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

                        <p>
                            You may not consider a cruise ship a particularly dangerous place, especially since some cruise lines market themselves as family-friendly vacation options. But cruise ships are dangerous places even when there are no catastrophes like a capsize or fire. Some of the more common types of personal injury incidents that occur on a cruise ship and can be compensated included:
                        </p>



                        <ul class="bold-start">
                            <li><p><span>Trip and fall or slip and fall:</span> It is obvious that water makes walking surfaces like floors and stairs slippery, and it is not uncommon for careless crewmembers to leave equipment like ropes or cords lying in areas frequented by cruise ship passengers. Slips and falls or trips and falls are thus very common injuries, and can result in broken bones, spine and neck injuries, or even a traumatic brain injury.</p></li>

                            <li><p><span>Assault by other passengers:</span> Cruise companies cannot prevent all passengers from behaving badly, and being forced to live in close proximity to strangers for several days at a time can make tempers flare. Another passenger may deliberately strike you as a result. Or a careless passenger may fail to pay attention and run into you, causing you injury.</p></li>

                            <li><p><span>Medical malpractice:</span> Most ships embark with some sort of medical professional on board. If you need medical treatment, you have a right to expect the professional to act in a reasonable and competent manner. Unfortunately, not all medical professionals act as such. As a result, you or a loved one could receive substandard medical care.</p></li>

                            <li><p><span>Food poisoning:</span> Food poisoning can occur on land as well as at sea and may or may not be caused solely by the ship’s cooking crew. Most cases of food poisoning are mild and symptoms disappear after a few days; however, some bacteria can cause serious, life-threatening conditions.</p></li>
                        </ul>

                        <p>
                            If you are injured in any sort of personal injury incident aboard a cruise ship and that incident was caused by someone else’s carelessness, you may be able to recover compensation for your injuries.
                        </p>

                        <div class="section-subheader">
                            <h3>What Compensation Can I Receive After a Cruise Ship Injury?</h3>
                            <div id="subHeaderDivider">

                            </div>
                        </div>

                        <p>
                            Depending on the type of injury you suffered and your actual losses, you may be able to bring a cruise ship injury lawsuit against the cruise line company to recover:
                        </p>

                        <ul>
                            <li><p>Actual medical expenses;</p></li>
                            <li><p>Ongoing treatment or rehabilitation costs;</p></li>
                            <li><p>Lost wages due to time missed from work;</p></li>
                            <li><p>Lost future earnings, if you cannot return to your previous job;</p></li>
                            <li><p>Money spent on your cruise ticket;</p></li>
                            <li><p>Mental pain and anguish caused by disability or disfigurement.</p></li>
                        </ul>

                        <p>
                            No two cases are alike, however. Consult with a cruise ship injury attorney to learn what specific types of damages you may be entitled to under the law.
                        </p>

                        <div class="section-subheader">
                            <h3>Have You Been Injured on a Cruise Ship? Read Your Ticket!</h3>
                            <div id="subHeaderDivider">

                            </div>
                        </div>

                        <p>
                            Recovering compensation for cruise ship injuries may not be as simple as you might think. Cruise ship tickets often have important terms about how disputes are to be resolved printed on the back of the ticket. So the first part of your case evaluation is actually determining what, if anything, must be done according to the ticket. In some cases, you may be able to challenge unfair or unethical conditions contained in the ticket’s “fine print.” Your cruise ship injury lawyer is best qualified to review these terms and advise you on your next steps.
                        </p>

                        <div class="section-subheader">
                            <h3>What Do I Do Next?</h3>
                            <div id="subHeaderDivider">

                            </div>
                        </div>

                        <p>
                            Being injured on a cruise ship can be a frightening and disorienting experience. Aside from seeking medical treatment, you should make it a point to contact experienced cruise ship attorneys right away. They can advise you as to what steps need to be taken in order to best protect your legal rights and will guide you through the entire process from the moment you are injured until you receive your hard-won compensation award.
                        </p>


                    </div>
                </div>
            </div>

        </div>
    </div>

    {{cta-banner}}

    {{contact-section}}
</div>