<div class="practice-area" id="defenseBase">
    {{nav-bar}}
    <div class="circle-cta"><a href="tel:9547490500" id="phoneCta"></a><a href="#" id="emailCta"></a></div>

    <div id="defenseBaseBg"></div>

    <div class="page-content">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">

                        <h4><em>Practice Area</em></h4>

                        <h3>Defense Base Act</h3>

                        <div id="headerDivider">
                            <div id="dividerStart"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="section-content">

                        <p>The United States federal government is a large, expansive entity with a significant presence overseas. While many Americans think of soldiers and sailors when they think of federal employees who serve abroad, the truth is that employees of companies that have contracts with the United States government can also be called upon to work in foreign countries. For example, civilian employees whose employer has a contract with the United States government have worked overseas by:</p>

						<ul>
							<li><p>Providing security for diplomats, politicians, and VIPs;</p></li>
							<li><p>Transporting oil, fuel, or other cargo;</p></li>
							<li><p>Building or maintaining housing for others;</p></li>
							<li><p>Preparing and serving food to military members or others.</p></li>
						</ul>

						<p>Unfortunately, just because someone works outside the United States does not mean that he or she is safe from the threat of workplace injuries. When an employee is injured on the job in the United States, workers’ compensation laws are there to help that employee recover compensation for his or her injuries and expenses. But what happens when an employee is injured overseas? That injured employee may be able to recover compensation through the Defense Base Act (DBA).</p>

                    

                        <div class="section-subheader">
                            <h3>What is the Defense Base Act?</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

                     
						<p>The Defense Base Act requires certain employers to provide a particular type of insurance coverage so that if their employees are injured while working overseas for the U.S. government, those employees can receive compensation for their injuries.  In most cases, a contractor must provide proof of DBA-compliant coverage prior to performing an overseas contract on behalf of or for the benefit of the United States. Failure to have such coverage can result in hefty fines, civil penalties, and a loss of the contract.</p>
						 
						<p>The DBA was originally passed in 1941 to provide protections for civilian employees working on overseas U.S. military bases and installations. In the years since then, its protections have been expanded so that now nearly all employers who contract with the U.S. government to perform work overseas must carry DBA insurance for the benefit of their employees. This includes employees who work:</p>

						<ul>
							<li><p>On military bases and installations outside the U.S.;</p></li>
							<li><p>In a public works business outside the U.S. if it is funded by the U.S. government;</p></li>
							<li><p>As part of a public works contract or military contract with a foreign government if the contract is considered by the U.S. government to be necessary to its national security interest;</p></li>
							<li><p>To provide non-military services funded by the U.S. government.</p></li>
						</ul>	

                        <div class="section-subheader">
                            <h3>What Injuries Can I Be Compensated for Under the DBA?</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>
 
						<p>
							The DBA is similar to many states’ workers’ compensation laws. In order for a worker to be entitled to compensation for a workplace injury, two questions must be answered:
						</p>

						 <ul>
							<li><p>First, was the worker employed by a company that was subject to the DBA?  In other words, was the worker employed by an employer who was performing some sort of contract for military or public works services on behalf of the U.S government overseas?</p></li>
							<li><p>Secondly, did the injury arise out of the scope of the worker’s employment? Courts have tended to take a rather liberal view of this; a dam worker who is injured on the job in a rebellion or war-related incident can likely recover compensation under the DBA.</p></li>
						 </ul>


                        <div class="section-subheader">
                            <h3>What Compensation Can I Receive?</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>
 
						<p>
							If you work overseas and are injured, you are likely facing a great deal of stress and concern. Not only do you have medical bills piling up, but you may be thousands of miles away from family and friends and be unable to work. It may be reassuring to know that the DBA would provide you with compensation including:
						</p>

						 <ul>
							<li><p>A portion of your wages for every week you are unable to work for a period of time;</p></li>
							<li><p>Your reasonable and necessary medical expenses;  </p></li>
							<li><p>Compensation if you suffer a permanent disability and are unable to return to work;</p></li>
							<li><p>Benefits to your surviving family members if you suffer a fatal workplace injury.</p></li>
						 </ul>

						<p>
							An experienced DBA lawyer will know the calculations used to determine the compensation to which you are entitled and is best suited to inform you how much your claim may be worth.
						</p>


						<div class="section-subheader">
                            <h3>I’ve Been Injured. So I Just File a Claim, Right?</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>
 
						<p>
							When you have been injured on the job and the Defense Base Act applies, you may think that getting compensated for your injuries is a simple matter. However, there are several steps that must be followed or your claim can be delayed or even denied. Not only this, but your employer’s DBA insurance carrier may challenge the severity of your injuries or question whether they are even “work-related.”
						</p>
						 
						<p>
							Rather than risk a delay or denial of your claim, it is advisable to seek the assistance of an experienced Defense Base Act attorney who can advocate forcefully on your behalf. A DBA claim lawyer can help you navigate the often-complex laws and regulations that govern these claims and can help you receive the compensation you deserve for your overseas workplace injuries.
						</p>
 
						

                    </div>
                </div>
            </div>

        </div>
    </div>

    {{cta-banner}}

    {{contact-section}}
</div>






 




 

