<div class="practice-area" id="jonesAct ">
    {{nav-bar}}

    {{cta-circles}}
    <div id="jonesActBg"></div>

    <div class="page-content">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">

                        <h4><em>Practice Area</em></h4>

                        <h3>Jones Act </h3>

                        <div id="headerDivider">
                            <div id="dividerStart"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="section-content">

                        <p>
                            In general, when a worker in the United States is injured while on the job, state workers’ compensation laws provide a means for that worker to obtain compensation for his or her medical expenses, lost wages, and certain other expenses. But these workers’ compensation laws are limited and often do not apply outside of the respective state. What happens when your worksite is a ship journeying across international waters?

                        </p>

                        <p>
                        	Sailors and crewmen of vessels that are governed by United States laws face workplace dangers just like any other employee. In fact, a ship can be a particularly dangerous place even for experienced sailors because of:
                        </p>

                        <ul>
                        	<li>Loose ropes and chains improperly stored on the deck;</li>
							<li>Wet or slippery conditions on decks, stairs, and other walking surfaces;</li>
							<li>Heavy loads that can shift during transport;</li>
							<li>Inclement weather and rough seas.</li>
                        </ul>

                        <p>
                        	In certain cases, an injured sailor can recover compensation under the Jones Act. An experienced Jones Act lawyer can help injured sailors and crew navigate the complexities of this law.
                        </p>	


                        <div class="section-subheader">
                            <h3>What is the Jones Act?</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

                        <p>
                           The Jones Act’s full title is the Merchant Marine Act. This law, enacted in 1920, was meant to give United States sailors injured on the job the same sort of legal opportunities available to injured railway workers. Under the Jones Act, the injured sailor can bring a lawsuit against his or her employer for the careless acts of certain other individuals that result in his or her injury.
 						</p>

 						<p>
							A claim under the Jones Act may be just one of several claims an injured sailor can bring. Speaking with a knowledgeable Jones Act attorney quickly after a maritime injury is essential to protecting your rights and obtaining the maximum amount of compensation possible.
                        </p>

                         

                        <div class="section-subheader">
                            <h3>Who Can File a Jones Act Claim?</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

                        <p>
                            Not everyone aboard a boat or vessel can file a claim under the Jones Act. At the outset of any claim, it must be shown that the person seeking compensation under the Act is a “seaman.” The definition of a “seaman” for purposes of the Jones Act is determined on a case-by-case basis and is constantly being molded by new cases. Therefore, having an experienced and knowledgeable attorney is important to establishing entitlement to an award under the Jones Act. 
                        </p>


                        <div class="section-subheader">
                            <h3>How to Win a Jones Act Claim</h3>
                            <div id="subHeaderDivider">

                            </div>
                        </div>

                        <p>A claim brought under the Jones Act allows an injured employee to recover compensation for his or her injuries if the ship’s owner, the ship’s captain or another crewmember acted negligently, or carelessly. This requires proving through evidence and the testimony of witnesses that:
 						</p>

 						<ul>
 							<li>You are a seaman, as that term is defined by the law.</li>
 							<li>·         The defendant – that is, your employer or another employee of your employer – acted in a negligent manner. This usually requires showing that your employer, the ship’s captain, or another crewmember acted in a careless manner. If an individual made a decision that a reasonable and similar captain or crewmember would not have made under the same circumstances, you are usually able to prove negligence. However, if a captain or crewmember might have acted in the same way as the defendant did, then negligence may not be proven.</li>
 							<li>The negligence caused or was a cause of your injuries. If your injuries would have happened regardless of the defendant’s negligence, then your Jones Act claim will fail.</li>       
						</ul>


                        <div class="section-subheader">
                            <h3>Rights of Seamen Under the Jones Act</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>
                        <p>
                        	In times past, law and legal remedies were determined according to the common law. Common law consisted solely of court decisions; in other words, if a previous court had decided that sailors did not have a certain right or protection, then future sailors in similar situations would also not have certain rights or protections. The common law tradition of maritime law left many sailors in a disadvantaged position if they were to be injured while on the job.
 						</p>
						<p>	
							The Jones Act specifically allowed for more rights and protections beyond those found in the common law. That is why it is advantageous in most circumstances to bring a claim under the Jones Act, if at all possible. Some of these rights include:
 						</p>

 						<ul>

							<li>The right to have your dispute decided by a jury;</li>

							<li>The right to bring your lawsuit in a state or a federal court;</li>

							<li>The right to hold a ship owner liable for the unseaworthiness of the vessel.</li> 

						</ul>

						<div class="section-subheader">
                            <h3>Contact a Jones Act Attorney</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>
                        <p>
							Deciding whether you can file a Jones Act claim is a determination best left to an experienced maritime attorney. Act quickly following an injury by contacting an attorney. The sooner you make contact, the sooner your advocate can begin the process of getting you the compensation to which you are entitled.
 						</p>


                    </div>
                </div>
            </div>

        </div>
    </div>

    {{cta-banner}}

    {{contact-section}}
</div>