<div class="practice-area" id="longshoreAct">
    {{nav-bar}}

    {{cta-circles}}
    <div id="longshoreActBg"></div>

    <div class="page-content">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">

                        <h4><em>Practice Area</em></h4>

                        <h3>Longshore and Harbor Workers’ Compensation Act</h3>

                        <div id="headerDivider">
                            <div id="dividerStart"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="section-content">

                        <p>
                            Shipyards and harbors have always been dangerous places to work. The presence of heavy machinery, tall ships, and large containers all make an injury more likely than other jobsites. Longshore and harbor workers can suffer a variety of jobsite injuries including:
                        </p>

                        <ul>
                        	<li><p>Trips, slips, and/or falls from heights;</p></li>
							<li><p>Crushing or amputation injuries from heavy machinery;</p></li>
							<li><p>Falling objects injuries;</p></li>
							<li><p>Psychological injuries from stressful or traumatic situations;</p></li>
							<li><p>Exposure to hazardous or dangerous substances injuries.</p></li>

                        </ul>

                        <p>
                            When you or a loved one are employed in the maritime industry and become injured, you may be facing a lengthy and expensive recovery period or a lifetime of permanent disability. It is reassuring to know that compensation may be available to you or your loved one through the Longshore and Harbor Workers’ Compensation Act (LHWCA).
                        </p>

                    

                        <div class="section-subheader">
                            <h3>Longshore and Harbor Workers’ Compensation Act History and Scope</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

                        <p>
                            The LHWCA was initially passed in 1927 to provide a way for workers injured during the loading and unloading of cargo vessels to receive monetary compensated for their injuries. Since then, the LHWCA has been amended and expanded several times, and several additional pieces of legislation (such as the Defense Base Act) have been inspired by the LHWCA.
 						</p>
 						<p>
							Today, the LHWCA provides protection to many employees who work in the maritime industry. The following employees are typically covered by the LHWCA’s provisions:
                        </p>


                        <ul>
							<li><p>Employees working on the navigable waters of the United States;</p></li>
							<li><p>Employees working in areas adjoining navigable waters of the United States that are used for loading, unloading, repairing, or building a vessel;</p></li>
							<li><p>Employees working in longshore operations;</p></li>
							<li><p>Harbor workers;</p></li>
							<li><p>Builders, breakers, and repairers of ships.</p></li>

                        </ul>

                        <div class="section-subheader">
                            <h3>How Does the LHWCA Protect Me or My Loved One?</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

                        <p>
                            If you are covered by the LHWCA, then you are entitled to receive certain compensation for your injuries following a workplace accident. Compensation can include:
 						</p>

 						<ul>
							<li><p>Reasonable and necessary medical treatment;</p></li>
                            <li><p>A portion of the wages you lose while you recover;</p></li>
                            <li><p>Money for permanent disabilities you receive;</p></li>
                            <li><p>Benefits to your surviving family members, if you die as a result of your workplace injury.</p></li>

 						</ul>

 						<p>
							The benefits available under the LHWCA are designed to help you and your family get back on your feet after a maritime workplace injury. A knowledgeable LHWCA attorney can advise you on what specific compensation is available based upon your unique circumstances
						</p>


                        <div class="section-subheader">
                            <h3>Why You Need an Advocate on Your Side</h3>
                            <div id="subHeaderDivider">

                            </div>
                        </div>

                        <p>
                        	Just because the law provides benefits to maritime workers does not mean these benefits are automatically provided following an injury. In some cases, your employer’s insurance company may aggressively fight your claim and try and deny you compensation. This can occur because:
 						</p>

 						<ul class="bold-start"> 

							<li><p><span>The insurance company says that you did not follow the requirements to properly report your injury.</span> If you do not follow the proper procedures to report your injuries as set out in the law, you may find your claim for compensation is delayed or even denied.</p>
							</li>

							<li><p><span>The insurance company argues that your injury is not “work-related”.</span> Part of your successful LHWCA claim requires you to prove that your injury related to your work. Injuries you suffer before or after work are typically not covered by the LHWCA. A pre-existing condition may cause your claim for compensation to be denied unless you can show how that condition was worsened by your work.</p></li>
                            
                            <li><p><span>the insurance company claims that your job is not covered by the LHWCA.</span> The LHWCA excludes certain jobs from coverage under the Act. An experienced attorney can help you determine if your job is covered under the LHWCA.</p></li>

						</ul>

 
						<p>
							If your employer’s LHWCA raises any of these objections, your “easy” claim can quickly turn into a nightmare. The compensation you need may be delayed while you are ordered to submit to physical examinations and tests. Or the insurer may decide to deny your claim outright. In either case, you and your family may suffer serious financial repercussions as a result.
						</p>
 
						<p>
							This is why you need a dedicated and zealous advocate on your side. An experienced lawyer can respond to and help overcome the objections the insurance company may raise, getting you the compensation you need and deserve. 
						</p>



                    </div>
                </div>
            </div>

        </div>
    </div>

    {{cta-banner}}

    {{contact-section}}
    
</div>