<div class="practice-area" id="maritimeLaw">
    {{nav-bar}}

    {{cta-circles}}
    
    <div id="maritimeLawBg"></div>

    <div class="page-content">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">

                        <h4><em>Practice Area</em></h4>

                        <h3>Maritime Law</h3>

                        <div id="headerDivider">
                            <div id="dividerStart"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="section-content">

                        <p>
                            When a dispute arises on the “high seas” then the dispute is settled according to the principles of maritime law. The origins of maritime law (or admiralty law as it is sometimes called) date back over a thousand years; today maritime law principles are used to resolve questions surrounding injuries and accidents that occur on waterways and oceans, aboard boats and other vessels, and where residents of two or more countries are involved.
                        </p>

                        <p>
                            Maritime law is notoriously complex. There is no reliable “do-it-yourself” book or program that can teach you how to win your maritime law case. Only an attorney with years of experience in handling maritime law cases can help ensure your case’s success.
                        </p> 

                    

                        <div class="section-subheader">
                            <h3>When Do I Need a Maritime Law Attorney?</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

                        <p>
                            There are many situations that may require the help of a maritime law attorney. Such situations can include:
                        </p>



                        <ul class="bold-start">
                            <li><p><span>Seamen or crewmen injured while underway:</span> A maritime law attorney can help advise you after you have been injured on your ship or vessel. The deck of a boat – even a small boat – is full of dangers that can cause serious and debilitating injuries. Slippery decks and walkways, heavy cargo stacked improperly, or ropes and chains scattered across walking surfaces are just a few of the conditions that can result in catastrophic injuries. Depending on the particular facts of your situation, you may be able to bring several claims for compensation. An experienced attorney is equipped to advise you of your potential claims and which one or ones should be pursued.</p></li>

                            <li><p><span>Lost or damaged cargo:</span> When merchandise or product being transported by ship is damaged or destroyed, your financial loss can easily total several hundreds of thousands of dollars or more. Thoroughly investigating the cause of the loss is essential to identifying all of the parties who are responsible for the incident. An incomplete or poorly-conducted investigation may result in you recovering far less than your actual loss.</p></li>

                            <li><p><span>Multi-jurisdiction disputes:</span> Just because your cruise ship left from a U.S. port or your cargo ship’s destination was the United States does not necessarily mean that U.S. laws will apply. Many ships and vessels are registered in countries other than the United States. Because of this, and depending on where your incident occurred, there may be various countries’ laws, international legal principles, and/or treaties that may be applicable to your dispute.</p></li>
                        </ul>

                        <div class="section-subheader">
                            <h3>How to Win My Maritime Law Dispute</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

                        <p>
                            Succeeding in a maritime law dispute can be a lengthy and expensive process. By hiring an experienced maritime law attorney, you can rest assured that your time and resources – and the time and resources of your attorney – will be used effectively to achieve your desired result. This may require your dispute to go through several stages:
                        </p>

                        <ul class="bold-start">
                            <li><p><span>Mediation/arbitration:</span> You may first be required to submit your dispute to arbitration or mediation before your case can be decided by a judge. In mediation, a neutral third party attempts to negotiate an agreement between you and the other party. In arbitration, a neutral third party hears the facts and arguments presented by you and the other party and thereafter renders a decision in your case. In each situation, you need a zealous maritime lawyer on your side to make sure your interests are protected.</p></li>

                            <li><p><span>Litigation:</span> If your dispute cannot be resolved through mediation or arbitration, your case may then proceed to trial. Preparing for trial and presenting your case may require testimony from industry experts and individuals who may be located in foreign countries. Your maritime lawyer will know how to assemble and present your case persuasively.</p></li>

                            <li><p><span>Appeals:</span> You may have a right to appeal the decision of an arbitration or trial proceeding. Appeal rights are generally limited and timelines must be complied with, so the assistance of an attorney at this stage is critical in order to preserve your rights.</p></li>
                        </ul>


                        <div class="section-subheader">
                            <h3>Contact a Maritime Lawyer Today</h3>
                            <div id="subHeaderDivider">

                            </div>
                        </div>

                        <p>
 							Retaining legal counsel quickly following a maritime law injury or dispute is necessary to ensure a favorable outcome. Witnesses essential to your case must be located and interviewed, and important evidence can be irretrievably lost if steps are not taken quickly to preserve it. Contact  a maritime law attorney as soon as possible to discuss your case.
                        </p>


                    </div>
                </div>
            </div>

        </div>
    </div>

    {{cta-banner}}

    {{contact-section}}
</div>