<div class="practice-area" id="nonAppropriated">
    {{nav-bar}}
    <div class="circle-cta"><a href="tel:9547490500" id="phoneCta"></a><a href="#" id="emailCta"></a></div>

    <div id="nonAppropriatedBg"></div>

    <div class="page-content">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">

                        <h4><em>Practice Area</em></h4>

                        <h3>Non-Appropriated Fund Instrumentalities Act </h3>

                        <div id="headerDivider">
                            <div id="dividerStart"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="section-content">

                        <p>
                            Anyone with a connection to the military or who has been on a military base knows that it takes more than soldiers and sailors to keep things running. Most bases are supported by a myriad of civilian workers who help run base exchanges and movie theaters, for instance. While such operations do not necessarily “win the war” directly, they do help keep morale high and play a role in keeping our troops supplied with the essentials.

                        </p>

                        <p>
                        	The civilian employees who work at base exchanges and movie theaters are compensated through the nonappropriated funds given to the various military branches. Because of the unique nature of these military employees, there are special laws in place to help protect these employees when they become injured on the job.
                        </p>

                        <p>
                        	The Non-Appropriated Fund Instrumentalities Act (NAFIA) can help civilian military employees when they become injured on the job – speak with an experienced NAFIA attorney today to learn more.
                        </p>	


                        <div class="section-subheader">
                            <h3>What is NAFIA?</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

                        <p>
                            In 1920, Congress enacted the Longshore and Harbor Workers’ Compensation Act (LHWCA) as a means to provide certain maritime workers a way to recover compensation following workplace injuries. This was done because Congress found that the laws then in place did not provide adequate protections.
                        </p>

                        <p>
                            Since then, Congress has periodically amended the Longshore and Harbor Workers’ Compensation Act and has passed similar laws that expand the protections afforded by the LHWCA to other groups of individuals.
                        </p>

                        <p>
                        	The Non-Appropriated Fund Instrumentalities Act is one such law. Passed in the 1950s, NAFIA’s objective was to provide a particular category of civilian military workers with a way to obtain compensation following a workplace injury.
                        </p>    

                        <div class="section-subheader">
                            <h3>Can I File a Claim Under NAFIA? </h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

                        <p>
                            Not every civilian employee working on a military base is able to file a claim under NAFIA. The law specifically contemplates civilian employees who:
                        </p>

                        <ul>
                        	<li>Are compensated from “nonappropriated funds”;</li>
                        	<li>Are employees of the Army and Air Force Exchange Service, Army and Air Force Motion Picture Services, Navy Ship’s Stores Ashore, Navy Exchanges, Marine Corps exchanges, Coast Guard exchanges,
							OR
							</li>
							<li>Are employees of an instrumentality of the United States under the jurisdiction of the Armed Forces that exists for the “comfort, pleasure, contentment and mental and physical improvement” of military personnel.</li>
                        </ul>

                        <p>
                            In addition, the employee must either be employed within the continental United States. If they are employed outside the continental United States, he or she must be a U.S. citizen or a citizen or permanent resident of the United States or any Territory of the United States.
                        </p>
                            
 						<p>
							Determining whether you have a valid NAFIA claim, then, begins with evaluating whether you fall into this definition of an “employee.” Unless you show that NAFIA applies to you, your claim will be denied automatically.
                        </p>

                        <div class="section-subheader">
                            <h3>What Benefits Can I Receive through a NAFIA Claim?</h3>
                            <div id="subHeaderDivider">

                            </div>
                        </div>

                        <p>Assuming you meet the definition of an employee under NAFIA, a successful claim for compensation involves showing that you were injured while on the job. Doing so entitles you to certain monetary benefits to cover:
 						</p>

 						<ul>
 							<li>Medical care and treatment costs. You may also be entitled to choose your attending physician to provide you with medical care.</li>
 							<li>A portion of your regular wages if you are found to be temporarily or permanently disabled;</li>
 							<li>Benefits and compensation to your surviving family members, if your workplace injury is fatal.</li>       
						</ul>


                        <div class="section-subheader">
                            <h3>Overview of a NAFIA Claim</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>
                        <p>
                        	Like the LHWCA which gave rise to it, NAFIA has certain requirements that must be followed in order for your claim to be processed. Failure to follow these requirements can result in the delay or denial of your claim.
 						</p>
						<p>	
							After you have suffered a workplace injury, to protect your compensation claim under NAFIA you should:
 						</p>

 						<ul>

							<li>Immediately notify your supervisor and/or employer. This is essential to receiving a Form LS-1, which authorizes you to seek treatment from a medical provider of your choice.</li>

							<li>Obtain medical treatment. You should do this even if you feel fine or do not believe your injuries are serious. Sometimes the extent of an injury is not known for days or longer; a failure to be evaluated by a medical professional right away can make it more difficult to prove your injuries are work-related and thus compensable under NAFIA. Be sure to save copies of all your medical records.</li>

							<li>Try to record as many details about your injury and the circumstances surrounding it as soon as possible. If you are able to, take pictures of your injuries and where the accident occurred.</li>

							<li>Notify your employer in writing using Form LS-201. This notification must be provided within 30 days of the date of your injury incident.</li>

							<li>File a NAFIA claim for compensation within 1 year of your injury incident.</li>

						</ul>

						<div class="section-subheader">
                            <h3>A NAFIA Lawyer Can Help Your Case Succeed</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>
                        <p>
							The process for filing and presenting a NAFIA claim can be difficult for most people to understand, which is why it is important to retain experienced legal counsel. An attorney can explain what you need to win your claim for compensation and can help guide you every step of the way.
 						</p>


                    </div>
                </div>
            </div>

        </div>
    </div>

    {{cta-banner}}

    {{contact-section}}
</div>