<div class="practice-area" id="outerLands">
    {{nav-bar}}
    {{cta-circles}}

    <div id="outerLandsBg"></div>

    <div class="page-content">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">

                        <h4><em>Practice Area</em></h4>

                        <h3>Outer Continental Shelf Lands Act</h3>

                        <div id="headerDivider">
                            <div id="dividerStart"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="section-content">

                        <p>
                            America is known for its pioneering and exploring spirit. Whether settling the untamed “Wild West,” plunging into the depths of the unexplored ocean or landing on the Moon, America’s presence can be found in nearly all corners of the world. But in these frontier locations, Americans face an increased risk of injury. Legal problems can arise when Americans are present in a particular location that is technically not within the boundaries of any state but who become injured. For example, what laws apply when a worker is injured several miles off the coast of California or Alaska? Who would be liable for compensating the worker? How would the worker go about beginning the process of obtaining compensation?
                        </p>

                        <p>
                        To help resolve these difficult legal questions, Congress enacted the Outer Continental Shelf Lands Act (OCSLA). Learn how this federal law can help you recover compensation for your workplace injuries when you are injured in a non-traditional workplace.
                        </p>


                        <div class="section-subheader">
                            <h3>The Outer Continental Shelf – What is It?</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

                        <p>
                            As its name implies, the OCSLA is meant to apply to cases that occur in outer continental shelf. In other words, the OCSLA cannot be used to obtain compensation for workplace injuries that do not occur in the outer continental shelf. Therefore, one of the first things that must be shown in an OCSLA claim is that the incident occurred in the outer continental shelf.
                        </p>

                        <p>
                            The outer continental shelf is defined by law as all submerged lands that are seaward (closer to the ocean and/or sea) of the state coastal waters, which extends 3 miles offshore. These areas are under the jurisdiction of the United States and federal law applies.
                        </p>    

                        <div class="section-subheader">
                            <h3>What is the OCSLA?</h3>
                            <div id="subHeaderDivider">

                            </div>
                        </div>

                        <p>
                            The Outer Continental Shelf Lands Act has its beginnings in the 1920 Longshore and Harbor Workers’ Compensation Act. This particular piece of legislation was created to provide maritime workers injured on the job a means to recover certain compensation for their injuries.
                        </p>

                        <p>
                            In the years since the passage of the Longshore and Harbor Workers’ Compensation Act, Congress has expanded the scope of this Act and passed similar laws to provide similar benefits to other groups of workers. The OCSLA is one such law and is meant to give certain workers the same sort of protections originally given to maritime workers by the Longshore and Harbor Workers’ Compensation Act.
                        </p>

                        <div class="section-subheader">
                            <h3>To Whom Does the OCSLA Apply?</h3>
                            <div id="subHeaderDivider">

                            </div>
                        </div>

                        <p>
                            Just because a person is located in the outer continental shelf area and is injured does not necessarily mean the OCSLA will apply. Another threshold matter pertains to the type of worker the injured person is. In particular, OCSLA will only apply to activities that are designed to explore, develop, remove, or transporting by pipeline natural resources located within the earth of the outer continental shelf. A good example of this sort of worker is a worker on an oil rig.
                        </p>

                        <p>
                            The OCSLA does not apply to certain workers, including:
                        </p>    

                        <ul>
                            <li><p>A master of a crew of a vessel;</p></li>
                            <li><p>A member of a crew of a vessel;</p></li>
                            <li><p>An officer or employee of the United States or of a foreign government;</p></li>
                            <li>
                                <p>
                                An officer or employee of a political subdivision (like a state or local government) of the United States or a foreign  government
                                </p>
                            </li>
                    
                        </ul> 

                        <p>
                        In other words, the OCSLA does not apply to injuries suffered by crew members of ships or military personnel (for instance), even if those injuries are suffered in the outer continental shelf.
                        </p>

                        <p>
                        It is important to note that recent court decisions have also expanded the reach of the OCSLA. Your OCSLA claim attorney is best suited to evaluate your situation and determine if you are entitled to benefits under the OCSLA or some other law.
                        </p>

                        <div class="section-subheader">
                            <h3>How Do I Win My OCSLA Claim?</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

                        <p>
                            If you are injured on the job and fall under the scope of the OCSLA, you can pursue a claim without hiring a lawyer. But doing so is risky; if you do not follow the proper procedures and complete the necessary steps, your claim for benefits may be delayed or denied. This can cause serious financial difficulties for you and your family, especially if your workplace injury leaves you temporarily or permanently disabled. Be sure you do the following:
                        </p>

                        <ul>
                            <li><p>Notify your supervisor and/or employer as soon as you are injured;</p></li>
                            <li><p>Seek medical treatment right away, even if you do not believe you are seriously hurt, as symptoms may not develop right away;</p></li>
                            <li><p>File the appropriate notice with your employer as soon as possible;</p></li>
                            <li><p>Retain copies of your medical records and expenses (such as hospital bills, prescription costs, etc.);</p></li>
                            <li><p>Speak with an OCSLA attorney as soon as possible for guidance, direction and assistance in filing your claim;</p></li>
                            <li><p>File your OCSLA claim within the appropriate time limitation.</p></li>
                    
                        </ul> 

                        <p>
                        When it comes to getting compensation for your injuries, this is no time for “do-it-yourself” remedies. Contact an OCSLA attorney right away. Your legal advocate should bring their experience and knowledge to work for you, guiding you through the process and helping you get the compensation to which you are entitled.
                        </p>


                    </div>
                </div>
            </div>

        </div>
    </div>

    {{cta-banner}}

    {{contact-section}}
</div>