<div class="practice-area" id="personalInjury">
    {{nav-bar}}
    <div class="circle-cta"><a href="tel:9547490500" id="phoneCta"></a><a href="#" id="emailCta"></a></div>

    <div id="personalInjuryBg"></div>

    <div class="page-content">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">

                        <h4><em>Practice Area</em></h4>

                        <h3>Personal Injury</h3>

                        <div id="headerDivider">
                            <div id="dividerStart"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="section-content">

                        <p>
                            Let’s face it – our world is a dangerous place. Through no fault of our own and with little or no warning, we can find ourselves seriously injured. This can throw our personal lives and the lives of our families into disorder. What do you do when you are faced with:
                        </p>

                        <ul>
                            <li>Expensive medical and hospital bills</li>
                            <li>Ongoing treatment or rehabilitation costs</li>
                            <li>Lost wages due to time missed from work</li>
                            <li>Decreased earnings from an inability to return to your previous job</li>
                            <li>Mental suffering and pain due to disfigurement or disability</li>
                        </ul>

                        <p>
                            Recovering from a personal injury begins with obtaining financial compensation for your injuries
                            through a personal injury lawsuit.
                        </p>

                        <div class="section-subheader">
                            <h3>What is a Personal Injury?</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

                        <p>
                            A personal injury can take many forms and range from minor cuts and abrasions to serious
                            injuries requiring surgery and rehabilitative therapy. Some of the more common forms of
                            personal injuries include:
                        </p>


                        <ul class="bold-start">
                            <li><p><span>Traumatic Brain Injuries (TBI):</span> which can occur anytime the head suffers a blow or is
                                struck by an object. TBIs are serious injuries needing quick medical intervention to stabilize the
                                person and prevent further injury. Lifelong treatment is also usually required.</p></li>
                            <li><p><span>Neck and spine injuries:</span> can be present in car crashes, falls from heights, and sports-
                                related injuries. These injuries have the potential of leaving the victim permanently disabled.</p></li>
                            <li><p><span>Broken Bones:</span> often heal, but not without rest and medical treatment. A broken bone can
                                easily mean weeks, if not months, of time away from work or performing lighter work. Broken
                                bones can occur when a bone is hit with enough force, when a person trips and falls or slips and
                                falls, or is involved in a car crash.</p></li>
                            <li><p><span>Cuts &amp; Lacerations:</span> from sharp or rough surfaces like glass, metal, or pavement are
                                common in most personal injury cases. Most cuts are superficial and do not require much
                                treatment beyond a simple bandage. However, some cuts can be deep and life-threatening,
                                especially if an artery is involved. In these cases, medical intervention is needed to save the
                                person’s life. Cuts to the face also have the potential to leave permanent scars and
                                disfigurement.</p></li>
                            <li><p><span>Amputation:</span> occurs when a limb or appendage is severed from the body. While most
                                people think of an amputation as a medical procedure done in a hospital, the truth is that an
                                amputation can occur as part of a personal injury incident. A hand or arm that becomes stuck in
                                a machine can be crushed and amputated, just as a finger caught in a closing door can also be
                                severed. Amputations are serious injuries that leave permanent disfigurement and can result in
                                serious disabilities.</p></li>
                        </ul>

                        <div class="section-subheader">
                            <h3>What is a Personal Injury Lawsuit?</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

                        <p>
                            A personal injury lawsuit is filed after you have been injured by the negligence (or carelessness)
                            of another. While it is possible to file these claims by yourself, your odds of being successful
                            increase dramatically when you use the services of an experienced personal injury attorney.
                        </p>

                        <p>
                            Your lawsuit is successful when you prove that it is more likely than not:
                        </p>

                        <ul>
                            <li><p>That the defendant – the one who injured you – owed you a duty of care. Every individual
                                owes every other individual a duty to act in a reasonable and prudent manner under the
                                circumstances. Drivers owe others who share the roadway and sidewalks a duty to operate their
                                cars in a reasonable manner. In some cases (like students and teachers), a special duty of care
                                may exist.</p></li>
                            <li><p>That the defendant breached a duty of care by acting carelessly or negligently. A driver
                                who speeds down a busy residential street, a store owner who does not address a wet, slippery
                                floor, and a construction worker who carelessly drops a tool from a height are just a few
                                examples of individuals who have breached a duty of care.</p>
                            </li>
                            <li><p>That the defendant’s acts caused your injuries. This is known as the “causation” element
                                and is frequently litigated in court. You must show that your injuries happened because of the
                                defendant’s actions. In other words, if you would have been injured regardless of whether the
                                defendant acted carelessly, you will not be able to show causation and your claim will fail.</p></li>
                            <li><p>That you suffered an injury or injuries. You cannot be compensated through a personal
                                injury lawsuit if you did not suffer any financial damages as a result of the defendant’s actions.</p></li>
                        </ul>

                        <div class="section-subheader">
                            <h3>What Should I Do After I’ve Been Injured?</h3>
                            <div id="subHeaderDivider">

                            </div>
                        </div>

                        <p>
                            If you have been injured by another, it is important to act quickly:
                        </p>

                        <ul>
                            <li><p>Get medical attention, even if you feel fine</p></li>
                            <li><p>Save important documents and records</p></li>
                            <li><p>Take pictures of your injuries and the scene of the injury, if possible</p></li>
                            <li><p>Take down the names and contact information of people who witnessed the injury</p></li>
                            <li><p>Speak to an experienced personal injury attorney. Your attorney will know how best to
                                preserve important evidence and can begin the work of preparing your personal injury case.</p></li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>
    </div>


    {{cta-banner}}

    {{contact-section}}


</div>