<div class="practice-area" id="workersComp">
    {{nav-bar}}
    <div class="circle-cta"><a href="tel:9547490500" id="phoneCta"></a><a href="#" id="emailCta"></a></div>

    <div id="workersCompBg"></div>

    <div class="page-content">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">

                        <h4><em>Practice Area</em></h4>

                        <h3>Workers’ Compensation Act</h3>

                        <div id="headerDivider">
                            <div id="dividerStart"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="section-content">

                        <p>
                            A workplace injury occurs suddenly and without warning, creating disruption and uncertainty in your life and the life of your family. These incidents are often accompanied by extensive medical bills and time missed away from work. Consider what would happen if:
                        </p>

                        <ul>
                            <li>You were a construction worker or roofer and fell from a height, suffering serious brain, neck, or spine injuries;</li>
                            <li>A power tool accident severed one of your hands or feet, leaving you not only disfigured but unable to return to your previous employment;</li>
                            <li>You lose your life because of another person’s carelessness, and your family is left with the bills and expenses from your funeral and burial.</li>

                        </ul>

                        <p>
                            Florida (like all other states) has enacted workers’ compensation laws to help workers and their families navigate through the difficult times following a workplace accident.
                        </p>

                        <p>
                            Having an attorney represent and assist you along the way can prevent delays and denials that keep you from getting compensation for your injuries.
                        </p>

                        <div class="section-subheader">
                            <h3>Workers’ Compensation Claims in Florida</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

                        <p>
                            A Florida workers’ compensation claim is filed when you are either injured or become disabled while on the job. Workers’ compensation is your exclusive remedy, for on the job injuries.
                        </p>

                        <p>
                            At first, it may sound simple to obtain benefits after a workplace injury. However, there are many opportunities for your employer and your employer’s insurer to attempt to limit or deny your claim for benefits. For instance:
                        </p>



                        <ul>
                            <li>Your employer may try to claim the injury occurred at a time you were not engaged in the performance of your duties.</li>
                            <li>Your employer’s insurer may try to claim that your injuries are not as severe as you claim them to be.</li>
                            <li>The insurer may claim that your injuries are due to a preexisting condition that is not connected with any workplace activity.</li>
                        </ul>

                        <p>
                            A knowledgeable and experienced Florida workers’ compensation advocate can help you defeat these challenges to your claim.
                        </p>

                        <div class="section-subheader">
                            <h3>What Should I Do After I have Been Injured at Work?</h3>
                            <div id="subHeaderDivider">

                            </div>
                        </div>

                        <p>
                            The moments immediately following a workplace injury or illness are critical. Although you may be frightened and unsure as to what to do, it is important to remain calm. Florida requires injured or ill workers to take certain steps within a certain period of time. Failing to do so can prevent you from later filing a workers’ compensation claim.
                        </p>

                        <p>In particular, you should:</p>

                        <ul>
                            <li>Notify your supervisor or employer right away of your injury. Generally you must notify your employer of your accidents within 30 days of its occurrence. Your employer must be made aware that you have been injured at work, so make every effort to tell your employer as soon as you become aware of the injury.</li>
                            <li>Obtain permission to see a doctor. Your employer’s workers’ compensation insurer must indicate the doctor they wish for you to see – you cannot simply go to your own physician for initial diagnosis and treatment. If you are in need of emergent medical treatment, you may be able to go to the nearest emergency room and later inform your employer as soon as possible.</li>
                            <li>Throughout the process, when required, be sure to give accurate information about your accident and resulting injuries to your employer and treating doctor. It is also a good idea to get copies of all the documents and records you can pertaining to your incident and injuries.</li>
                            <li>Insurance companies have their attorneys working on defending your claim as soon as it occurred, you should contact us immediately so that we can begin the prosecution of your claim and ensure you receive all the appropriate benefits. </li>
                        </ul>

                        <p>
                            You should avoid putting off notifying your employer or seeking medical treatment, as this can make it more difficult for you to later show that your injuries are truly work-related. Florida requires injured to take certain steps within a certain period of time. Failing to do so can prevent you from later filing a workers’ compensation claim.
                        </p>

                        <div class="section-subheader">
                            <h3>Why Should I File a Workers’ Compensation Claim?</h3>
                            <div id="subHeaderDivider">

                            </div>
                        </div>

                       
                        <p>
                             Handling your own workers compensation claim can be overwhelming, confusing, and potentially prejudice you from receiving the benefits you are legally entitled to under the law. By contacting us, we will properly file your worker's compensation claim to ensure the provision of all reasonable and medically necessary treatment, receive compensation for your lost wages and properly set your case up for the maximum available lump sum settlement. 
                             Don’t let the daunting process scare you and prevent you from seeking the benfites you are entitled to under law. As your lawyer will help you throughout the process and will guide you as to what actions you need to take and what you can expect going forward.
                        </p>

                    </div>
                </div>
            </div>

        </div>
    </div>

    {{cta-banner}}

    {{contact-section}}
</div>