<div class="about-dba" id="dbaComp">
    {{nav-bar}}
    {{cta-circles}}

    <div id="dbaCompBg"></div>

    <div class="page-content">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">

                        <h4><em>About DBA</em></h4>

                        <h3>Defense Base Act Compensation</h3>

                        <div id="headerDivider">
                            <div id="dividerStart"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="section-content">

						<p>The Defense Base Act, enacted in 1941 and expanded several times since then, affords certain civilian workers who work for companies that have contracted with the U.S. government compensation benefits if they are injured on the job. This is an important piece of legislation because the workers covered by the Defense Base Act (DBA) are usually not covered by any other state or federal workers’ compensation program. This means that, were it not for the DBA, these workers and their families could experience serious financial harm because of a workplace accident.</p>
 
						<p>Because of the DBA, however, injured workers that are covered by the DBA can recover certain kinds of compensation after a workplace accident. The compensation that can be recovered is designed to mitigate the financial losses that the worker might otherwise experience and assist him or her in getting back on his or her feet following the accident.</p>

						<div class="section-subheader">
                            <h3>Reasonable Medical Costs</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div> 

 
						<p>One of the main costs associated with a workplace accident – and one of the main types of compensation – is designed to compensate the injured worker for his or her reasonable medical costs and treatment. This includes not just the costs of the initial hospital or doctor’s office visit, but any ongoing treatment or care that is necessary to treat the injury or illness. The total amount of medical expenses that can be compensated is limited only by what treatment is necessary and reasonable and what can be connected to the workplace accident.</p>
 
						<p>It is important to seek medical treatment as soon as possible after a workplace accident. If you do not – for example, if you believe you are “fine” and wait until symptoms worsen – then you may find it more difficult to recover compensation for all your medical expenses. Your employer’s DBA insurer may claim that some of your symptoms and associated expenses are attributable to your delay in seeking treatment. If this argument is successful, you may not be able to recover the full amount of your medical expenses.</p>

						<div class="section-subheader">
                            <h3>Lost Wages / Disability Benefits</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>  

 
						<p>If your workplace injury requires you to miss a certain amount of time from work, you may be able to recover compensation for the wages you would lose. You may be required to miss work because of either a temporary or permanent disability.</p>

						<ul>
							<li><p>A temporary disability is one from which you can recover after a period of time with proper medical treatment. A temporary disability can be either partial or total ( meaningyou are temporarily unable to perform any work).</p></li>
                            <li><p>A permanent disability is one a person will likely have for the rest of his or her life.. Like temporary disability, permanent disability can be characterized as either partial or total.</p></li>

						</ul> 

						<p>Total disability (whether temporary or permanent) compensation is calculated by determining your average weekly wage and then awarding 2/3 of that amount, up to a weekly maximum. Partial disability compensation is calculated as a percentage (66%) of your actual lost wages (in the case of temporary disability) and 66% of your future wages (in the case of permanent disability).</p>
 
						<p>Calculating the compensation you are due under the regulations and law can get rather complicated, so it is best to have the assistance of a DBA attorney help advise you as to the compensation you can expect.</p>

						<div class="section-subheader">
                            <h3>Death Benefits</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>   

 
						<p>If your workplace injury is fatal and you are killed, the DBA will provide benefits for your surviving spouse and any children you may have. This includes a $3,000 burial benefit and a percentage of your average weekly wage payable for a certain period of time. If you are married, payments will continue for the rest of your spouse’s life or until he or she remarries. Children receive benefits until they turn 18 years old (or 23 years old, so long as the children are in school full-time).</p>

						<div class="section-subheader">
                            <h3>Vocational Rehabilitation Benefits</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>   

 
						<p>For workers that return to the United States and who are permanently disabled, you may also be entitled to vocational rehabilitation services to assist you in returning to some form of employment activity. These benefits are not available to you if you are not residing in the United States following your accident, however.</p>
 						
 						<div class="section-subheader">
                            <h3>Contact an Experienced DBA Attorney for Help</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>   

 
						<p>The laws and rules concerning the Defense Base Act can be quite complex, and it is not uncommon for DBA insurers to attempt to settle DBA claims with injured workers for less compensation than that to which they are entitled. Do not allow yourself or your claim to be sold short. Speak with a knowledgeable DBA attorney after an overseas workplace accident to learn all the compensation to which you are entitled. Your attorney can also fight on your behalf to help you obtain the maximum amount of compensation.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {{cta-banner}}

    {{contact-section}}

</div>