<div class="about-dba" id="dbaInjuries">
    {{nav-bar}}
    {{cta-circles}}

    <div id="dbaInjuriesBg"></div>

    <div class="page-content">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">

                        <h4><em>About DBA</em></h4>

                        <h3>Defense Base Act Injuries</h3>

                        <div id="headerDivider">
                            <div id="dividerStart"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="section-content">

						
 
						<p>Because of the Defense Base Act (DBA), civilian employees of companies who have contracted with the U.S. government to perform certain work overseas have a means by which they can obtain compensation for injuries they sustain on the job. This is very similar to the workers’ compensation laws found in the fifty states and other federal workers’ compensation programs, which permit workers who are injured while on the job in a particular state to receive benefits following a workplace injury. For most – if not all – of these programs, compensation is available only for injuries that occur “on the job.”</p>

						<div class="section-subheader">
                            <h3>What Do “On the Job” Injuries Look Like?</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>   

 
						<p>While there is no such thing as a “typical” or “easy” workplace injury case, there are workplace injury cases in which it is clearer that Defense Base Act benefits should be granted. Where you are at work during work hours and suffer an injury that is related to your job duties, Defense Base Act compensation is typically available. For example, if you are a food service worker on an overseas military installation and you cut yourself while preparing food or slip and fall on a wet kitchen floor, Defense Base Act compensation will be available for your medical expenses and lost wages.</p>
 
						<p>Even where you are at work but not necessarily doing the work you were hired to perform, compensation will typically be available. Assuming again that you are a food service worker, if you are using the restroom and slip and fall on a wet floor or are hit on your head when you walk outside to smoke and a roofer drops a tool, compensation will likely be available.</p>

						<div class="section-subheader">
                            <h3>What if I’m Injured on My “Off Time”?</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>  

 
						<p>In some cases, compensation may be available if you are injured in a particular country, even if you are not at work. A legal doctrine known as the “zone of special danger” can provide civilian workers compensation under the Defense Base Act if they are injured in a war zone or other locale that presents a particular risk (such as a remote island). Under this doctrine, even an injury sustained while the worker is off of work can be compensated in some cases. This doctrine is not without its limitations, however. The worker will still need to establish some connection between his or her employment, the dangerous condition present in the location, and the worker’s injury.</p>
 
						<p>For instance, a civilian contractor injured by a suicide bomb attack or enemy attack in Iraq or Afghanistan can recover compensation for those injuries, even if the contractor was engaged in a recreational activity at the time. Or if the contractor’s employer’s policies prohibit workers from leaving the isolated island where they are employed and the contractor is engaged in recreational activities and suffers an injury, compensation may be available.</p>

						<div class="section-subheader">
                            <h3>Both Physical and Mental Injuries Can be Compensated</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>  

 
						<p>Not just physical injuries can be compensated under the Defense Base Act: mental injuries can also be compensated so long as there is a connection between the injury and the worker’s employment. For instance, contractors who work in Iraq or Afghanistan have developed Post Traumatic Stress Disorder (PTSD) while working in those locations. This sort of mental injury and others like it can result in the award of DBA benefits.</p>
 
 						<div class="section-subheader">
                            <h3>Self-Caused Injuries are Generally Not Compensable</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

 
						<p>Not all “workplace injuries” are compensable under the DBA, though. Most significantly, self-inflicted injuries that are inflicted willfully or purposefully are usually not eligible for compensation. This would include suicide and suicide attempts in most cases. (Note, however, that this does not include injuries inflicted due to negligence.) Consider the following scenarios:</p>
						
						<ul>
							<li>A contractor is employed by a private firm operating in Afghanistan. After several months of work, the contractor becomes depressed and commits suicide. This is the sort of willful self-inflicted injury that may not be compensated under the DBA.</li>
							<li>Now consider a construction worker employed by a private firm in Guam. While framing a new building, the worker negligently places his hammer and other heavy tools above him on a wood beam. If those tools then fall and hurt the contractor, his injuries can likely be compensated – even if someone were to find that the contractor acted negligently.</li>
						</ul> 

						<div class="section-subheader">
                            <h3>How a DBA Attorney Can Help</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

 
						<p>As you can see, not all claims for DBA benefits are clear-cut. A DBA attorney experienced in handling claims can help you gather the evidence and testimony you may need to help show that you are entitled to compensation. One of the most significant showing that would need to be made is establishing a connection between your work and/or the locale in which you are employed and your injury. Failure to do so may result in your claim being denied. Give yourself and your claim the advantage by speaking with an experienced DBA attorney as soon as possible following a workplace injury overseas.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {{cta-banner}}

    {{contact-section}}
    
</div>