<div class="about-dba" id="dbaLawyers">
    {{nav-bar}}
    {{cta-circles}}

    <div id="dbaLawyersBg"></div>

    <div class="page-content">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">

                        <h4><em>About DBA</em></h4>

                        <h3>Defense Base Act Lawyers</h3>

                        <div id="headerDivider">
                            <div id="dividerStart"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="section-content">

 
						<p>When you are in trouble or have been injured, experienced and zealous legal representation can make all the difference between your success and failure. This is equally true when you find yourself needing to obtain compensation under the Defense Base Act.</p>

						<div class="section-subheader">
                            <h3>What is a DBA Lawyer?</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

 
						<p>A Defense Base Act lawyer is a lawyer who has extensive knowledge in handling Defense Base Act claims and representing claimants through all stages of the process. In addition to the basics of the DBA and claims process, a DBA lawyer will likely have knowledge and experience in:</p>
 
						<ul>
							<li><p>Administrative law;</p></li>
							<li><p>Practicing before the federal courts;</p></li>
							<li><p>Negotiation skills and alternative dispute resolution experience;</p></li>
							<li><p>Interviewing and using expert witnesses such as doctors and vocational experts.</p></li>
						</ul>

						<p>Some may erroneously believe that any lawyer is qualified to tackle a DBA claim; in other words, the lawyer that handled their divorce or that prepared their parents’ trust is able to effectively pursue their claim for compensation. While most lawyers can represent you in a DBA claim, choosing one that has little or no experience is like taking your exotic and expensive sports car to your local mechanic to address electrical issues – you will get much better results if the mechanic who works on your car is familiar with the car’s make and model and has repaired similar cars in the past. So too in DBA claims cases you will experience better results if your attorney has experience with these types of cases.</p>

						<div class="section-subheader">
                            <h3>Why Do I Need a Lawyer to File a DBA Claim?</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>
 

 
						<p>You may be wondering why you even need a lawyer at all to file and win a Defense Base Act claim. After all (you may reason) your situation is straight-forward and in your mind there is no other reasonable conclusion that can be reached other than that you are entitled to benefits. A lawyer, you may conclude, is simply too much of a hassle and expense to justify.</p>
 
						<p>The truth is that not hiring a DBA lawyer to help you with your situation may end up costing you more in the long run. The Defense Base Act and its associated regulations can be quite complicated. Not only this, but you as an injured employee must comply with strict deadlines. Failing to comply with these deadlines, not seeing the right doctor for your treatment, or any number of other actions may end up delaying your claim for benefits or causing your claim to be denied outright. In this case, the fees of a DBA lawyer may pale in comparison to the medical bills you must pay and the time you must miss from work to recover.</p>
 
						<div class="section-subheader">
                            <h3>How to Choose Your DBA Claims Attorney</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

 
						<p>Choosing the right attorney to handle your DBA claim is not something you should leave to chance. Instead, be sure to thoroughly investigate any attorney you intend to hire. Ask questions not only of the attorney but also of others with whom the attorney has dealt. Some areas to investigate include:</p>
 
					 <ul>
						<li><p>How experienced is this attorney in handling DBA claims? This does not mean that newer attorneys are necessarily worse than older, more experienced attorneys. As a general guide, however, the more years that an attorney has spent handling DBA claims, the quicker and more efficient he or she will be in getting you results. Also look to see how he or she stays abreast of changes in the law.</p></li>
						<li><p>What reputation does this attorney enjoy? Be careful in relying solely on online reviews to learn about a lawyer’s reputation as these can be misleading or downright false. Instead, look to see if this attorney has had any disciplinary actions filed or sustained against him or her. How have other lawyers rated this particular attorney? Has this attorney been quoted about DBA issues or published any works regarding DBA claims?</p></li>
						<li><p>Do I “feel right” working with this attorney? Even if an attorney is well-qualified to handle your case, it is important that you feel comfortable working with a particular attorney. If you do not, you may find yourself second-guessing your attorney, doubting his or her strategy and tactics, or becoming angry or stressed at what you perceive to be a mishandling of your case. While your choice of a DBA attorney should not rest solely on your gut reaction, you should not ignore it, either.</p></li>
					 </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {{cta-banner}}

    {{contact-section}}
    
</div>