<div class="about-dba" id="dbaBackground">
    {{nav-bar}}
    <div class="circle-cta"><a href="tel:9547490500" id="phoneCta"></a><a href="#" id="emailCta"></a></div>

    <div id="dbaBackgroundBg"></div>

    <div class="page-content">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">

                        <h4><em>About DBA</em></h4>

                        <h3>Background of the Defense Base Act</h3>

                        <div id="headerDivider">
                            <div id="dividerStart"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="section-content">

 
						<p>In times past, workers were often placed at the mercy of their employers. Employers could force their employees to work long, arduous hours in dangerous conditions for little pay. The workers (who were often poor and needed the income) were faced with two choices: either they continue collecting their paychecks and accept their employers’ demands or they go without a job, without a paycheck and possibly without food or shelter.</p>
 
						<p>Thankfully, times have changed. The federal and state governments have enacted reforms that have made the American workplace much safer. Not only this, but states have their own compensation laws that allow workers injured within that particular state to recover compensation for their injuries.</p>
 
						<p>In certain situations, the federal government has written its own laws and regulations to provide protections to certain types of workers. One such piece of legislation is the Defense Base Act (DBA). This law provides a mechanism whereby certain civilian workers whose employers contract with the U.S. government to recover the following compensation if they are injured on the job:</p>
						
						<ul>
							<li><p>Costs of medical treatment, therapy, and rehabilitation;</p></li>
							<li><p>A percentage of lost wages due to missed work;</p></li>
							<li><p>Compensation for temporary or permanent disability;</p></li>
							<li><p>Death benefits, if the worker suffers a fatal injury.</p></li>
						</ul>

						<p>Continue reading to learn how this particular law has helped protect workers for over 70 years.</p>
 
 						<div class="section-subheader">
                            <h3>The Beginning of the Defense Base Act</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

 
						<p>The Defense Base Act was initially passed in 1941 as an extension of the Longshore and Harbor Workers’ Compensation Act. The DBA was initially envisioned as a means whereby civilian employees working on lend-lease military bases outside the United States could recover compensation for workplace injuries. Even after the United States entered World War II in December 1941, the various military branches continued to use civilian contractors and the need for the DBA persisted. At the outset, though, it was thought that the Defense Base Act would only be temporary in nature.</p>

						<div class="section-subheader">
                            <h3>World War II: The Defense Base Act is Expanded</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>
  
						<p>As the war continued, the Defense Base Act was amended in a significant way in order to address the realities facing civilian workers on bases overseas. In 1942, Congress passed the War Hazards Act. This important legislation extended DBA coverage and provided benefits to civilian workers who were injured by “war risk”: a condition or situation present in a war zone that makes that area particularly dangerous. For example, the War Hazards Act allowed a civilian worker to recover compensation for injuries he sustained in an enemy bombing raid, even if the worker was not “at work” or “about his job” when the injury occurred.</p>
 
						<p>The War Hazards Act also extended DBA coverage for civilian employees on overseas bases who were captured by enemy forces.</p>
 
						<p>Post-War Period: The DBA Continues to be Amended</p>
 
						<p>After the end of World War II there were two additional important amendments to the DBA. The first occurred in 1953 when Congress extended DBA protections to cover workers who were employed by a foreign government for construction projects. This amendment also was significant in that it removed any condition that required a covered worker to have sustained injuries during a period of declared war.</p>
 
						<p>The next series of DBA amendments occurred in 1958. There were a series of important changes:</p>

 						<ul class="bold-start">
							<li><p><span>First, the DBA was made permanent.</span> Even though the law began as a temporary, war-related law, the realities of overseas work convinced Congress that there is an ongoing need for DBA protections.</p></li>
							<li><p><span>The definition of “public work” was expanded.</span> Prior to the amendment, some civilian workers employed in “public works” could receive DBA benefits. The definition of a “public work,” however, was rather narrow. After the amendment, however, any job financed by the U.S. government for the construction or improvement of things such as roads and bridges could qualify as a “public work.”</p></li>
							<li><p><span>DBA protections were also extended to non-citizen employees of U.S. contractors.</span> Contractors could no longer get around the DBA’s requirements by accepting a U.S. contract for work overseas and then hiring a local workforce overseas to perform the work.</p></li>
 						</ul>

 						<div class="section-subheader">
                            <h3>The Defense Base Act – Protecting Civilian Employees Overseas</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

 
						<p>There continue to be small changes to the Defense Base Act as it is adapted to meet new challenges and novel situations. Since its creation, however, the goal has always been the same: provide compensation for workers who are not protected by existing state or federal workers’ compensation programs.</p>
 
						<p>The various changes to the program, though, illustrate how complex it can be to truly understand the current Defense Base Act laws and regulations. If you are a civilian employee working overseas under a contract with the U.S. government and you are injured at work, it is to your benefit to speak with an experienced Defense Base Act lawyer right away to learn about your rights and secure the compensation you need and deserve.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    
</div>