<div class="about-dba" id="dbaClaims">
    {{nav-bar}}
    {{cta-circles}}

    <div id="dbaClaimsBg"></div>

    <div class="page-content">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">

                        <h4><em>About DBA</em></h4>

                        <h3>What is the DBA Claims Process?</h3>

                        <div id="headerDivider">
                            <div id="dividerStart"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="section-content">

 
						<p>With the U.S. military downsizing and government agency scrutinized, more and more support jobs on military installations are being performed by civilian workers. These workers are often employees of private companies that have contracted with the U.S. government to provide services. One condition present in all of these contracts is the requirement that the employer carry Defense Base Act (DBA)-compliant insurance. This insurance provides compensation to any of the employer’s workers who are injured while on the job.</p>
 
						<p>Obtaining full compensation under the Defense Base Act can be complicated: there are deadlines that must be met and certain actions or inactions by the employee can make obtaining benefits more difficult. Read below to learn the basics of how a worker covered under the Defense Base Act obtains compensation for his or her workplace injuries.</p>
 
 						<div class="section-subheader">
                            <h3>Step One: Notifying Your Supervisor of the Injury</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>


 
						<p>Immediately after a workplace injury, you should notify your immediate supervisor of your injury if at all possible. At this stage, the notification can be made orally.This step has two benefits:</p>
						<ul class="bold-start">
							<li><span>First,</span> you can request that your employer complete Form LS-1, which authorizes you to seek treatment from a physician of your choice.</li>
							<li><span>Secondly,</span> by notifying your supervisor immediately after your injury, you are beginning to create a record that can help establish a connection between your job and your injuries. The more evidence you can obtain showing that your injury happened during work hours while you were performing your job duties, the greater your chances of obtaining compensation for your injuries.</li>
						</ul>
						<p>However, notifying your supervisor immediately after an injury is not always possible. If time is of the essence, it is more important that you seek immediate medical attention. Your health is of paramount importance.</p>

 						<div class="section-subheader">
                            <h3>Step Two: Obtain Immediate Medical Treatment</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div> 

 
						<p>After a workplace injury, it is important that you seek medical treatment, preferably from a physician that is familiar with Defense Base Act claims or workplace injury injuries. You should seek treatment even if you feel fine or do not believe you have been severely injured. Any delay in seeking medical treatment can make it more difficult for you to show your injuries occurred while you were at work.</p>

						<p>You should also follow any treatment recommendations your doctor makes. This can include taking prescription medications, following up for additional treatment with your doctor or another specialist, or participating in rehabilitation or therapy services. Failing to do so may allow your employer’s DBA insurer to claim that your injuries are not as severe as you say they are or argue that your failure to follow your doctor’s orders contributed to your injuries. In either case, your benefits can be lessened or denied altogether.</p>
						 
						<div class="section-subheader">
                            <h3>Step Three: Formally Notify Your Employer</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div> 

 
						<p>Whether you notified your supervisor of your injury orally or not, you have 30 days from the date of your injury to notify your employer in writing (if you became ill while performing your job duties – after handling dangerous chemicals, for instance – you may have a longer period.) This is a firm deadline that must be met – failing to notify your employer in writing within this time frame can be fatal to your claim for compensation.</p>

						<div class="section-subheader">
                            <h3>Step Four: Your Defense Base Act Claim</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>  
 
						<p>The final step of the process involves filing your Defense Base Act claim. This claim is filed with the Department of Labor and an injured worker has one year from the date of his or her injuries (or the date he or she should have been aware of his or her injuries) to file such a claim. Depending on the unique nature of a particular claim, one of three dispositions is possible:</p>
						 <ul class="bold-start">
							<li><p><span>Resolution without filing a claim.</span> Some injury cases under the Defense Base Act do not result in the employee filing a claim with the Department of Labor. This occurs most often when there is no dispute as to the facts of the case and the employee, the employer, and the employer’s DBA insurer can reach an agreement as to compensation.</p></li>
							<li><p><span>Resolution with the Department of Labor.</span> If a claim is filed, the Office of Workers’ Compensation Programs (OWCP) and Department of Labor will attempt to resolve the dispute. The OWCP will attempt to resolve the dispute informally at first, but if this is not successful resolution can include a “trial” in front of an administrative law judge. If the losing party is dissatisfied with the judge’s decision, the decision can be appealed to a reviewing board.</p></li>
							<li><p><span>Resolution with the Federal Courts.</span> If a party is still dissatisfied, the case may be able to be litigated in federal court. A federal court will not hear a new trial; rather in most cases they will simply review the record and documents already assembled and decide whether to uphold or reverse the decision of the Department of Labor.</p></li>
						 </ul>
						<p>Contact a DBA lawyer to help you through the complex process of obtaining DBA benefits and to help ensure your claim’s success.
						</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {{cta-banner}}

    {{contact-section}}
    
</div>