<div class="about-dba" id="dbaLawyers">
    {{nav-bar}}
    <div class="circle-cta"><a href="tel:9547490500" id="phoneCta"></a><a href="#" id="emailCta"></a></div>

    <div id="dbaLawyersBg"></div>

    <div class="page-content">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">

                        <h4><em>About DBA</em></h4>

                        <h3>What is DBA Law?</h3>

                        <div id="headerDivider">
                            <div id="dividerStart"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="section-content">

 
						<p>Every day, millions of workers across the country and around the world go to work. And each day, there are a number of those workers who become ill or injured due to a workplace accident or incident. For example:</p>

						<ul>
							<li><p>A truck driver may be involved in a terrible traffic crash due to the negligence of the trucker or another person on the highway;</p></li>

							<li><p>A construction worker may be hit in the head by a falling tool or other debris, or may suffer a serious injury in a power tool mishap;</p></li>
							<li><p>An office worker may suffer debilitating pain in her wrists after a day of strenuous computer work;</p></li>
							<li><p>A worker at a chemical plant may breathe or be exposed to toxic and harmful chemicals, causing internal or external burns and illness.</p></li>
						</ul>

						<p>
							Regardless of the specific circumstances of a workplace injury, most states have enacted workers’ compensation statutes that allow an injured worker to recover compensation such as medical expenses, lost wages, and compensation for periods of disability. In many cases, it only needs to be shown that the worker was working in a particular state when he or she was injured in order to obtain benefits under that state’s compensation program.
						</p>
 
						<p>
							But American workers are found in places other than the United States. From Afghanistan and Iraq to Japan and elsewhere, American civilian workers are present on U.S. military installations and/or are performing work on behalf of the U.S. government. What happens when one of these workers are injured and cannot avail themselves of a state’s workers’ compensation program?
						</p>


						<div class="section-subheader">
                            <h3>Introducing the Defense Base Act (DBA) and DBA Law</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

 
						<p>
							Recognizing the situation these civilian workers were facing by working overseas with no compensation protections, Congress enacted the Defense Base Act (DBA) in the early 1940s. The DBA was actually an extension of the Longshore and Harbor Workers’ Compensation Act (LHWCA), which provided compensation benefits to certain maritime workers. The DBA took those benefits available under the LHWCA and extended them to a new class of employee.
						</p>
 	
						<p>
							Because of the DBA, the federal government requires private companies who contract with the government to provide certain services overseas to carry DBA-compliant insurance. The insurance is there to compensate the company’s employees in the event they are injured while in a war zone or working overseas on behalf of the government. Benefits include compensation for medical treatment and therapy, lost wages, and for periods of temporary or permanent disability.
						</p>
 
						<p>
							The Defense Base Act not only sets out the types of compensation available to covered workers but also spells out the procedure that workers must follow to claim and receive benefits. Defense Base Act law, then, is the legal practice of helping injured workers covered by the DBA to receive the benefits and compensation that they are entitled to under the law.
						</p>
 

						<div class="section-subheader">
                            <h3>What Issues Frequently Come Up in DBA Law?</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>
 

 
						<p>Each claim for DBA benefits is unique, but there are issues that frequently arise in DBA cases. While some may be minor, many of these can quickly become complex and require expert assistance to resolve:</p>
 
						<ul class="bold-start">
							<li>
								<p><span>Whether the employer and employee are covered by the DBA.</span> The DBA mainly applies to certain specific civilian and private companies that contract with the U.S. government to provide certain services overseas. If an employer is not one that is specified in the DBA, then the DBA does not require that employer to carry insurance to compensate its workers (other laws may require this, though).</p>
							</li>
							<li>
								<p><span>Whether the employee’s injury was work-related.</span> Case law interpreting the DBA have extended coverage beyond accidents occurring while performing job duties. Coverage can depend on factors such as whether the Claimant was in a “zone of special danger” when the accident occurred.</p> 
							</li>
						</ul>
 
						<div class="section-subheader">
                            <h3>Should I Hire a DBA Attorney?</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

 
						<p>
							Only you can decide whether a DBA law attorney makes sense for your case. However, the assistance of a lawyer can increase your chances of recovering maximum compensation and help the process go more smoothly. The Defense Base Act can be complex, and a single mistake in presenting your claim can result in the denial of your claim for benefits. An experienced DBA attorney will work with you to ensure you get the compensation you deserve.
						</p>
 
					 
                    </div>
                </div>
            </div>

        </div>
    </div>

    
</div>