<div class="about-dba" id="whatToExpect">
    {{nav-bar}}
    <div class="circle-cta"><a href="tel:9547490500" id="phoneCta"></a><a href="#" id="emailCta"></a></div>

    <div id="whatToExpectBg"></div>

    <div class="page-content">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">

                        <h4><em>About DBA</em></h4>

                        <h3>What to Expect After Filing a DBA Claim</h3>

                        <div id="headerDivider">
                            <div id="dividerStart"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="section-content">

                    	<p>When you have been injured in a workplace accident, you not only need immediate medical treatment: you need compensation. Sometimes, your employer, your employer’s Defense Base Act (DBA) insurer, and you can agree on the type and amount of compensation that is fair and appropriate under the circumstances. This is generally the case when an otherwise healthy worker with no previous medical problems sustains an injury at work while performing his or her job.</p>
 
						<p>When it is not clear whether you are entitled to benefits under the DBA, your employer and its DBA insurer may contest your claim for benefits and refuse to compensate you for your injury. When all parties cannot agree as to the proper resolution of your claim, you may need to file a DBA claim with the Department of Labor. Doing this is the first step toward a formal resolution of your claim. Do not expect this process to be quick, however.</p>
						 
						<p>Here is what you can expect immediately after you file a DBA claim with the Department of Labor:</p>
						 
						<ul class="bold-start">

							<li><p><span>Your Employer and its DBA Insurer is Notified of Your Claim</span></p>
							 
							<p>Initially, when you file a DBA claim with the Department of Labor (which must be done within one year of your workplace injury) your employer and its DBA insurer will be notified that you have filed a claim for compensation under the Defense Base Act. If you have retained an attorney, they will also be notified of the name and contact information for your attorney.</p>
							 
							<p>After your claim has been filed you must wait 30 days before taking any further action on your claim. This is to afford your employer’s insurer the opportunity to review your claim, perform an investigation into the claim, and determine whether they wish to dispute or agree to your claim.</p>
							</li>
							 
							<li><p><span>Informal Attempts at Resolving Your Claim</span></p>
							 
							<p>After your claim is filed and the insurer has chosen to dispute your claim, the Department of Labor’s Office of Workers’ Compensation Programs may attempt to negotiate a settlement between the insurer and you. You are not required to accept a settlement agreement if you do not want to; however, a settlement may have its advantages. You should speak with an experienced DBA attorney before accepting or rejecting a settlement offer.</p>
							</li>
							 
							<li><p><span>Trial Before an Administrative Law Judge</span></p>
							 
							<p>If no settlement can be reached and the insurer continues to refuse to pay your claim, you may request a trial before an administrative law judge. This judge will have the ability to make findings that either approve or deny your claim and determine what benefits you will receive. Depending on how busy the judge assigned to your case is, you may have to wait seven to eight months (or more) before you can have your case heard.</p>
							 
							<p>The court will hear evidence from both you and your attorney as well as from the attorneys representing the insurer. This trial will not involve a jury; only the judge, the parties, and whatever witnesses are called will be present.</p>
							</li>
							 
							<li><p><span>Appeals</span></p>
							 
							<p>Whichever party loses at trial before the judge may appeal that decision to other entities. These entities will not conduct new trials; rather, they will review the transcript from the trial along with whatever evidence and exhibits were admitted at trial and determine if the judge ruled properly.</p>

							<p>The first appeal goes to a board within the Department of Labor. These individuals review the case and determine if the judge ruled properly by a majority vote. Depending on the outcome of this stage of the appeal, you may have an ability to appeal this board’s decision to the federal courts. Doing so, however, is not without its risks and costs, so you should speak with your DBA attorney before deciding how far to appeal a decision you are not satisfied with.</p>
							</li>
							 
							<li><p><span>Enforcement</span></p>
							 
							<p>Whenever a judgment has become final, either because the U.S. Supreme Court has made a decision in the case or because the parties have decided not to appeal the decision any further, the judgment becomes enforceable. If you have been awarded compensation, you will begin receiving all the compensation you were awarded by the judge and/or federal courts. If your claim was denied, then you will generally no longer be able to seek compensation for that particular workplace injury incident.</p>
							</li>
							 
							<li><p><span>What To Do Throughout the Process</span></p>
							 
							<p>While your DBA claim is winding its way through this process, you should keep all medical appointments, collect and preserve all correspondence and records relating to your claim, and keep in contact with your DBA lawyer. Your attorney needs to be informed right away if anything about your situation changes, such as if your medical condition improves or deteriorates, or if you are able to return to work. All of these circumstances may impact what compensation you ultimately receive.</p>
							</li>
						</ul>
                    </div>
                </div>
            </div>

        </div>
    </div>



    
</div>