<div class="about-dba" id="whyDbaAttorney ">
    {{nav-bar}}
    {{cta-circles}}

    <div id="whyDbaAttorneyBg"></div>

    <div class="page-content">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">

                        <h4><em>About DBA</em></h4>

                        <h3>Why a Defense Base Act Attorney Makes Sense</h3>

                        <div id="headerDivider">
                            <div id="dividerStart"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="section-content">

                    	<p>Many people are rugged individuals. They take pride in their accomplishments and the fact that they do not need help from others to take care of themselves. While in many respects this trait is noble and praiseworthy, it can be harmful when it comes to pursuing claims under the Defense Base Act (DBA). Trying to “go it alone” against your employer’s insurer’s team of attorneys is a sure recipe for disaster. You may find your claim scrutinized and questioned and be unable to respond, or you may find yourself pressured into accepting a settlement offer that is not in your best interest. In either case, you may walk away with far less compensation than you deserve – or with no compensation at all.</p>

 
						<div class="section-subheader">
                            <h3>Why Some Injured Workers May Refuse to Hire a DBA Attorney</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>


						<p>There are a multitude of reasons why an injured worker may choose not to hire an experienced DBA attorney to help him or her obtain Defense Base Act individuals. While some reasons have more merit than others, all of them place the injured worker – already in a vulnerable situation – at the mercy of their employer’s insurer’s DBA attorneys.</p>
 

						<p>Some of the more common reasons why DBA attorneys are not hired include:</p>

						<ul class="bold-start">

							<li><p><span>The worker believes his or her case is “clear cut” or “simple”.</span> The worker may feel that the facts clearly support his or her claim, so why would an attorney be needed in order to argue the obvious? Unfortunately, a worker tends to believe his or her claim for compensation is much simpler than it often is. Even if the facts of a claim are not in dispute, there may be legal issues that can make the claim complicated.</p></li>

							<li><p><span>A DBA attorney costs too much.</span> Workers may believe that an attorney will cost too much money in comparison with the compensation they expect to receive. What many injured workers may not know is that in certain cases your employer and its insurer may be responsible for your DBA lawyer’s fees.</p></li>

							<li><p><span>There are too many DBA attorneys to choose from.</span> Some injured workers may want to hire a DBA attorney but may feel overwhelmed by the choices available to them. These workers become “frozen” and unable to choose an attorney to represent them.</p></li>
						</ul>

 
						<div class="section-subheader">
                            <h3>Top Reasons Why You Want a DBA Lawyer on Your Side</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

						<p>If you have been injured while on the job overseas and you fall under the protections of the Defense Base Act, you are entitled to certain compensation. The decision of whether or not to hire a DBA attorney to represent you can have a long-term effect on the outcome of your case.</p>

						<p>There are many advantages to having a DBA attorney represent you in your case, including:</p>

						<ul class="bold-start">
						 

							<li><p><span>Avoid costly and fatal mistakes.</span> The DBA does provide certain benefits to workers, but it also imposes strict timelines and procedural requirements on injured workers that must be met. Failure to comply with these requirements can mean that your claim for benefits is over even before it begins.</p></li>

							<li><p><span>Take steps that improve your chances of success.</span> Your DBA attorney will know what evidence and testimony are needed in order to convince your employer’s insurer to settle or persuade a judge to rule in your favor. This can save you time and effort as your attorney can pursue that evidence and testimony most helpful to you while disregarding unhelpful evidence.</p></li>

							<li><p><span>Understand the DBA law and process.</span> Stress and frustration can develop when you do not understand the claims process or why certain steps and actions need to be taken. Your attorney will be able to explain the process to you, help you understand the law and its requirements, and can help alleviate any stress or frustration you may experience.</p></li>

							<li><p><span>Knowing when to settle and when to pursue your claim.</span> Your attorney will learn your unique circumstances and concerns and can help you make an informed decision as to whether it is in your interest to settle your claim or not.</p></li>

						</ul>

 
						<p>Not only this, but in some cases your attorney fees may be ordered to be paid by your employer and/or the DBA insurer. If you file a notice of claim with the Department of Labor and the insurer and/or employer refuses to award you compensation or pay for your medical treatment within certain time limitations, and your claim is ultimately successful, the reasonable costs of your attorney will be covered by your employer/insurer. The Department of Labor will (in most cases) determine what is a reasonable fee for your lawyer to charge.</p>

 
						<div class="section-subheader">
                            <h3>Contact an Experienced DBA Attorney Today</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

						<p>For the vast majority of injured workers, the benefits of hiring a DBA attorney far outweigh the disadvantages. Let a DBA attorney help you receive the compensation you deserve quickly.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    {{cta-banner}}

    {{contact-section}}
    
</div>