{{nav-bar}}
<div class="countries" id="afghanistanPage">
    {{cta-circles}}

    <div id="afghanMapBg"></div>
    <div class="page-content">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">

                        <h4><em>Injured</em></h4>

                        <h3>In Afghanistan</h3>

                        <div id="headerDivider">
                            <div id="dividerStart"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="section-content">

                        <p>
                            For well over a decade, the United States military maintained a strong and active presence in Afghanistan as it battled the Taliban and other terrorist groups in the region. Even as the U.S. withdraws a large portion of its military from the region, in 2015 President Barack Obama announced plans in 2015 to have approximately 10,000 troops remain in Afghanistan for several more years. 
                        </p>

                        <p class="block-quote">
                            <span id="openQuote">“</span>10,000 troops remain in Afghanistan<br/>
                             for several more years.<span id="closeQuote">”</span>
                        </p>

                        <p>
                            It will not be just American troops that remain, however. During the height of military operations in Afghanistan,civilian contractors were employed by the U.S. government to help support troop operations by constructing and maintaining base housing, providing translating services, and providing security. Even though a decrease in the number of troops will
                            mean a corresponding decrease in the number of civilian contractors, civilian support workers will still be needed in Afghanistan 
                            for the foreseeable future.
                        </p>
                        
                        <p>
                            Although Afghanistan has come a long way since the first U.S. attacks after September 11, 2001, Afghanistan remains a dangerous place to work. Civilian workers injured in Afghanistan may be able to receive compensation for their injuries under the Defense Base Act.
                        </p>

                        <div class="section-subheader">
                            <h3>What Injuries Can Civilian Workers Face in Afghanistan?</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

                        <p>
                            Like workers in the United States, workers in Afghanistan can face a number of workplace dangers. Any one of these dangers can cause traumatic brain injuries, spine and neck injuries, broken bones, lost limbs – even death. For example:
                        </p>


                        <ul>
                            <li>A private security guard can be assaulted by another person or trip and fall while making his rounds;</li>
                            <li>A driver can be involved in a serious car or truck accident;</li>
                            <li>A construction worker can fall from a roof or from a height;</li>
                        </ul>

                        <p>
                            But workers in Afghanistan face other dangers that are foreign to many workers in America. There remains a threat of suicide bombs, shootings, and other terrorist attacks that can claim the lives of military members and civilian contractors alike. Even if such dangers are not fatal, serious and permanent injuries can result, such as:
                        </p>

                        <ul>
                            <li>Blindness;</li>
                            <li>Paralysis;</li>
                            <li>Loss of limb;</li>
                            <li>Traumatic brain injury;</li>
                            <li>Post-traumatic stress disorder;</li>
                            <li>Other psychological injuries.</li>
                        </ul>

                        <div class="section-subheader">
                            <h3>How Are Injured Workers in Afghanistan Compensated?</h3>
                            <div id="subHeaderDivider">

                            </div>
                        </div>

                        <p>
                            If you work for a private company in Afghanistan and your company has contracted with the U.S. government to provide certain support or public works services, your employer must comply with the Defense Base Act (DBA). This Act requires your employer to carry a specific type of insurance that is sometimes referred to as DBA-insurance. This insurance exists to compensate you for work-related injuries, for injuries you sustain as a result of the dangerous nature of Afghanistan, or if you suffer a fatal injury (under certain circumstances).
                        </p>

                        <p>
                            The process of obtaining benefits under the DBA works very similarly to many states’ workers’ compensation laws:
                        </p>

                        <ul class="numbered-li">
                            <li>
                                <p>
                                    First, you notify your immediate supervisor or employer that you have suffered an injury. Your employer will then help you determine where you can go to seek immediate medical treatment. (Note that in a true emergency, you can seek immediate medical assistance.)
                                </p>
                            </li>

                            <li>
                                <p>
                                    You will then receive initial medical treatment and any follow-up care that is needed. In some cases, you may be able to choose the doctor you see for treatment (although in Afghanistan your choices may be limited). It is important to seek treatment immediately following an injury, even if you feel okay. It is equally important that you follow through with any additional treatment that is recommended. Failure to do either can cause problems later with your DBA claim.
                                </p>
                                
                            </li>
                            <li>
                                <p>
                                    You will then receive initial medical treatment and any follow-up care that is needed. In some cases, you may be able to choose the doctor you see for treatment (although in Afghanistan your choices may be limited). It is important to seek treatment immediately following an injury, even if you feel okay. It is equally important that you follow through with any additional treatment that is recommended. Failure to do either can cause problems later with your DBA claim.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Finally, you will have a certain period of time within which to file your claim for DBA benefits. If you fail to file your claim within this time limitation, you may find that you are unable to seek benefits for those injuries later.
                                </p>
                            </li>
                        </ul>

                        <p>
                            A successful DBA claim can provide you with a number of different types of compensation:
                        </p>

                        <ul>
                            <li>Compensation for the costs of your medical treatment;</li>
                            <li>A portion of your wages for any time missed from work;;</li>
                            <li>Compensation for temporary or permanent disability;</li>
                            <li>Death and funeral benefits to your surviving family members.</li>
                        </ul>

                        <p>
                            An ideal claim for benefits under the DBA only takes a few weeks before compensation begins to be paid.
                        </p>

                        <div class="section-subheader">
                            <h3>How an Afghanistan Injury Attorney Can Help</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

                        <p>
                            Although the process may seem simple, a DBA claim is not guaranteed to be successful. Hiring an attorney experienced in helping civilian contractors injured while in Afghanistan can help ensure your claim’s success and help reduce certain delays in the process. Your attorney can explain each step of the claims process to you and ensure that you understand what is expected of you and what you can expect your employer’s DBA-insurer to do.
                        </p>

                    </div>
                </div>
            </div>

        </div>
    </div>



    {{cta-banner}}

    {{contact-section}}
</div>