{{nav-bar}}
<div class="countries" id="guamPage">
    {{cta-circles}}

    <div id="guamMapBg"></div>
    <div class="page-content">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">

                        <h4><em>Injured</em></h4>

                        <h3>In Guam</h3>

                        <div id="headerDivider">
                            <div id="dividerStart"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="section-content">

                        <p>    
                            The Pacific island of Guam has played a role in U.S. military operations for over a century. What started out as a small outpost at the beginning of the 20th century through the beginning of World War II quickly transformed into an island with a large U.S. Navy and Air Force population. When the island was retaken from Japan during World War II, Guam became a vital airfield for B-29 bomber aircraft that carried out bombing raids during the Pacific campaign.
                        </p>

                        <p class="block-quote">
                            <span id="openQuote">“</span>Several thousand service members<br/>
                             live and work on Guam.<span id="closeQuote">”</span>
                        </p>

                        <p>
                            Today Guam serves as an important base for the U.S. Pacific Fleet. Several thousand service members live and work on Guam. If a planned relocation of troops from Okinawa to Guam passes through Congress, Guam will be home to an even greater number of U.S. troops.
                        </p>

                    

                        <div class="section-subheader">
                            <h3>What Dangers do Civilian Workers in Guam Face?</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

                        <p>
                            The large military presence on Guam is supported by a sizeable number of civilian workers. These workers are typically employees of private companies that have contracted with the U.S. government to provide support services to the military. Because of the large Navy and Air Force presence on Guam, these civilian contractors can provide engineering and maintenance support services for vessels and vehicles. Other contractors may provide food service, construction, or building maintenance services.
                        </p>

                        <p>
                            These contracted jobs are similar to jobs being performed by American workers throughout the United States on a daily basis. Just like their U.S.-based counterparts, civilian contractors in Guam face the risk of workplace injuries on a daily basis:
                        </p>

                        <ul>
                            <li>Power tools can cause serious cuts or amputations of fingers, arms, and legs;</li>
                            <li>Working around heavy machinery can result in fatal crushing accidents;</li>
                            <li>Roof repair or other work performed at a height can result in falls</li>
                        </ul>

                        <p>
                            These accidents and incidents can result in a variety of injuries:
                        </p>

                        <ul>
                            <li>Amputations</li>
                            <li>Cuts and lacerations</li>
                            <li>Internal bleeding</li>
                            <li>Broken bones</li>
                            <li>Spine and neck injuries</li>
                            <li>Traumatic brain injury</li>
                            <li>Death</li>
                        </ul>

                        <div class="section-subheader">
                            <h3>Civilian Contractors Injured in Guam Are Entitled to Benefits</h3>
                            <div id="subHeaderDivider">

                            </div>
                        </div>

                        <p>
                            In the United States, when a worker is injured on the job in a particular state he or she can seek workers’ compensation benefits pursuant to that state’s laws. But workers injured in Guam cannot seek compensation under a state’s workers’ compensation laws. A plumber contracted to work in Guam cannot seek workers’ compensation under Florida law (for example), even if the plumber was born and raised in Florida and lived in Florida prior to relocating to Guam.
                        </p>

                        <p>
                            Recognizing that workers in Guam and elsewhere needed some form of compensation to help them following an overseas workplace injury, Congress enacted the Defense Base Act (DBA). This law requires private companies who contract to perform work on behalf of the United States or who contract to perform certain other work to carry a certain kind of insurance. This insurance coverage allows workers injured overseas while performing contract work to receive compensation for their injuries.
                        </p>

                        <p>
                            Workers can recover compensation through a DBA claim to help them with the costs of their recovery:
                        </p>


                        <ul>
                            <li>Compensation for medical treatment and rehabilitation;</li>
                            <li>Lost wages, if the worker must miss time from work;</li>
                            <li>Compensation for temporary or permanent disability;</li>
                            <li>Funeral and burial benefits payable to the worker’s surviving family members, if the worker is killed in a fatal incident.</li>
                        </ul>

                        <div class="section-subheader">
                            <h3>Overview of the DBA Claims Process</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

                        <p>
                            Following a Guam workplace injury, you begin the process of obtaining benefits under the DBA by immediately notifying your supervisor of the accident. This may not be practical in all situations (for example, if you are bleeding profusely or are unconscious), though. You should try to notify your supervisor before seeking medical attention.
                        </p>

                        <p>
                            Do not delay in seeking medical attention. Some injured workers do not get checked out by a doctor or other professional immediately following an accident because they “feel fine.” Not only can some symptoms of serious injuries not appear for several hours or even days after an accident, delaying in seeking medical treatment can make it more difficult for your claim for benefits to succeed.
                        </p>
 
                        <p>
                            You must use an approved form and notify your employer in writing within 30 days of your injury. This gives your employer official notice of your injury and your intent to seek compensation under the DBA. Failure to properly notify your employer can delay your claim or even cause it to be denied.
                        </p>
                        
                        <p>
                            You must then file a DBA claim with your employer’s DBA insurance provider. This too must be filed within a limited time or else you may not be able to recover any compensation at all.
                        </p>
                        
                        <p>
                            Injured civilian contractors on Guam can benefit from the advice and counsel of an experienced DBA attorney. Not only can such an attorney eliminate confusion and ignorance about the claims process, but your lawyer will work with you to ensure your claim has the greatest chance of success.
                        </p>



                    </div>
                </div>
            </div>

        </div>
    </div>



    {{cta-banner}}

    {{contact-section}}
</div>