{{nav-bar}}
<div class="countries" id="iraqPage">
    <div class="circle-cta"><a href="tel:9547490500" id="phoneCta"></a><a href="#" id="emailCta"></a></div>

    <div id="iraqMapBg"></div>
    <div class="page-content">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">

                        <h4><em>Injured</em></h4>

                        <h3>In Iraq</h3>

                        <div id="headerDivider">
                            <div id="dividerStart"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="section-content">

                        <p>
                            Iraq is not an unknown country to many Americans. Whether a veteran who served during the
                            Persian Gulf War, one who recently served in Iraq during the War on Terror, or simply an
                            informed civilian, many Americans are aware of the dangers that faced American soldiers in this
                            Middle Eastern country. As American soldiers return to Iraq, few are ignorant of the risk of injury
                            and death that will await them.
                        </p>

                        <p class="block-quote">
                            <span id="openQuote">“</span>There are over 10,000 military personnel<br/>
                            presently stationed in Japan.<span id="closeQuote">”</span>
                        </p>

                        <p>
                            What is not as well known is that in addition to members of the U.S. Armed Forces, a sizeable
                            number of civilian contractors and employees accompanied soldiers into Iraq and will likely
                            accompany them into Iraq once more.
                        </p>

                        <p>
                            Members of the Armed Forces who are injured receive treatment and benefits through the
                            Veteran’s Administration (VA). But are there any benefits available to those civilian workers who
                            are injured while in Iraq?
                        </p>

                        <div class="section-subheader">
                            <h3>What Contracting Jobs Exist in Iraq?</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

                        <p>
                            Americans may be unaware of the critical role that private companies and civilian contractors
                            play in modern war efforts. For example, at the height of the War on Terror during the mid to
                            late 2000s, there were a number of civilian contractors working and providing services within
                            Iraq. Some of these jobs included:
                        </p>

                        <ul class="bold-start">
                            <li>
                                <p>
                                    <span>Security Contractors</span> who provided security for VIPs and other individuals and installations
                                    within Iraq
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span>Transportation Companies</span>  and their employees who transported goods throughout the
                                    country
                                </p>
                            </li><li>
                            <p>
                                <span>Public Works</span> Public works employees who erected and maintained structures for the public benefit such
                                as roads and dams
                            </p>
                        </li><li>
                            <p>
                                <span>Food Service Workers</span> who helped prepare and serve food to U.S. troops and other
                                personnel.
                            </p>
                        </li>
                        </ul>

                        <p>
                            As the military branches continue to modernize and streamline their operations, more and more
                            civilian workers are expected to perform more and more jobs that support the U.S.’s efforts
                            overseas. It is a near certainty that, if the U.S. were to establish a permanent base in Iraq,
                            civilian contractors and employees would play a large role in supporting troops stationed there.
                        </p>

                        <div class="section-subheader">
                            <h3>What Injuries Can I Sustain Working in Iraq?</h3>
                            <div id="subHeaderDivider">

                            </div>
                        </div>

                        <p>
                            The stories of our country’s many Iraq war veterans illustrate the dangers facing those working
                            in Iraq. Unfortunately, the same sort of traumatic injuries that our veterans suffered in the past
                            and face in the present threaten civilian workers in Iraq. These can include:
                        </p>

                        <ul>
                            <li>Death</li>
                            <li>Loss of limbs due to crushing injuries, explosions, and similar incidents</li>
                            <li>Mental trauma and psychological injuries such as PTSD</li>
                            <li>Traumatic brain injuries</li>
                            <li>Spine and neck injuries after suffering “whiplash” incidents</li>
                        </ul>

                        <p>
                            Because of the dangers faced by civilian employees, of companies that contract with the U.S.
                            government to work overseas, these companies must carry a special form of workers’
                            compensation insurance called Defense Base Act (or DBA) insurance. This allows their workers
                            who are injured overseas to obtain benefits and compensation for their injuries.
                        </p>

                        <div class="section-subheader">
                            <h3>How to Get Compensation for My Injuries?</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

                        <p>
                            If you are injured while working in Iraq for a company with a contract with the U.S. government,
                            your employer will likely have DBA insurance. This does not mean you automatically receive
                            benefits immediately after an injury; instead, receiving compensation requires you to comply
                            with certain procedures:
                        </p>

                        <ul class="numbered-li">
                            <li><p>First, you must (if at all possible) notify your supervisor immediately of your injury. You are
                                required to give your supervisor written notification of your injury no later than 30 days after your
                                injury.</p>
                            </li>
                            <li><p>As soon as possible, you should speak with a Defense Base Act lawyer. He or she can
                                guide you through your next steps and advise you of ways you might expedite your claim or
                                reduce the chances of your claim being denied.</p>
                            </li>
                            <li><p>You must seek medical treatment. Your employer can suggest what doctor to see, or (in
                                some cases) you may have the right to seek treatment from a doctor of your choice. If you are in
                                Iraq, however, your options may be limited.</p>
                                <p>
                                    It is important that you seek treatment as soon as possible after an injury, even if you believe
                                    you are okay. Sometimes the true extent of an injury is not immediately obvious. If you do not
                                    seek treatment right away and symptoms later develop, it could cause your benefits to be
                                    delayed.</p>
                            </li>
                            <li><p>You must formally file a DBA claim within the specified time period.</p></li>
                        </ul>

                        <div class="section-subheader">
                            <h3>You Are Not Alone After an Injury in Iraq</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

                        <p>
                            Those who have served in Iraq as soldiers or civilians know the benefit of arming yourself with
                            every tactical advantage you can before you go to work. When you are injured in Iraq, you
                            should do the same. Defense Base Act claims can be complicated, especially for someone
                            unfamiliar with the process who has just suffered a serious injury thousands of miles away from
                            home. Give yourself an advantage in the process by speaking with an experienced Iraq injury
                            attorney. Oftentimes your attorney can help you anticipate each step of the process and ensure
                            your claim proceeds with minimal delay.
                        </p>

                    </div>
                </div>
            </div>

        </div>
    </div>

    {{cta-banner}}
    {{contact-section}}
</div>