{{nav-bar}}
<div class="countries" id="japanPage">
    {{cta-circles}}

    <div id="japanMapBg"></div>
    <div class="page-content">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">

                        <h4><em>Injured</em></h4>

                        <h3>In Japan</h3>

                        <div id="headerDivider">
                            <div id="dividerStart"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="section-content">

                        <p>
                            Since the end of World War II the United States has had a military presence in Japan. To prevent the defeated
                            Japanese Empire from rebuilding its military strength after the war, the  U.S. initially acted as an occupying
                            force. In the following decades, however, relations between the two countries improved and the two countries have
                            signed agreements in which the United States has agreed to come to the aid of Japan if Japan were to be attacked
                            by another nation.
                        </p>

                        <p class="block-quote">
                            <span id="openQuote">“</span>There are over 10,000 military personnel<br/>
                            presently stationed in Japan.<span id="closeQuote">”</span>
                        </p>

                        <p>
                            There are over 10,000 military personnel presently stationed in Japan, mostly on the island of Okinawa. In times
                            past, support jobs such as food preparation and service, building construction and maintenance, and vehicle maintenance
                            jobs, were performed by military servicemen and women. But with recent moves to downsize the military and save costs
                            where possible, private civilian contractors have taken over a sizeable percentage of the military support jobs in Japan.
                        </p>

                        <p>
                            These civilian workers are often suffer injuries, just like civilian workers in America can suffer injuries. But unlike their American counterparts, workers injured in Japan cannot avail themselves of the compensation available under state workers’ compensation statutes.
                        </p>

                        <div class="section-subheader">
                            <h3>What Do I Do After an Injury in Japan?</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

                        <p>
                            The DBA not only sets forth the rights of certain civilian workers injured overseas but it also sets
                            out the procedure that injured workers are to follow after an injury occurs. An injured worker is
                            required to comply with these procedures: failing to take a certain required step or not meeting a
                            required deadline can be fatal to a claim for benefits.
                        </p>

                        <p>
                            In general, a U.S. civilian worker injured in Japan who qualifies for benefits under the DBA must
                            complete the following steps:
                        </p>

                        <ul>
                            <li>Compensation to cover past and ongoing medical treatment</li>
                            <li>Compensation for temporary or permanent disability</li>
                            <li>Compensation for lost wages due to absences from work</li>
                            <li>Death benefits payable to a worker’s surviving family members, if the worker is killed</li>
                        </ul>

                        <div class="section-subheader">
                            <h3>What Can Workers Injured in Japan Do After an Injury?</h3>
                            <div id="subHeaderDivider">

                            </div>
                        </div>

                        <p>
                            Recognizing the precarious position in which American workers located overseas are placed, Congress passed the Defense
                            Base Act (DBA). This law and other federal regulations requires private companies that contract with the U.S. government
                            to perform services overseas (such as those support services performed by civilian contractors for the U.S. military in
                            Okinawa) to carry a special type of insurance. This insurance is sometimes referred to as DBA insurance.
                        </p>

                        <p>
                            DBA insurance functions in a similar manner to workers’ compensation statutes in that it provides a means by which civilian
                            workers working overseas can receive compensation for their work-related injuries. Compensation available includes:
                        </p>

                        <ul class="numbered-li">
                            <li><p>First, you should attempt to notify your immediate supervisor right after an injury has
                                occurred. The supervisor should be able to help you with finding medical treatment and
                                arranging for transportation to a treatment facility. In some cases, the injury will be so severe
                                that notifying a supervisor is not practical. In such a case, notification should be provided as
                                soon as practical.</p></li>
                            <li><p>Next, you will receive medical treatment. It is important that you seek medical treatment
                                after an injury even if you feel fine. Being evaluated by a medical professional immediately after
                                an injury is one way to increase the odds that your claim for benefits under the DBA will be
                                successful.</p>
                                <p>It is equally important that you follow the doctor’s recommendations for additional treatment. If
                                    you do not take medicines that are prescribed, or do not return for follow-up visits, your
                                    employer’s DBA insurer may deny your claim for benefits on the grounds that your injury is not
                                    as severe as you claim. Or the insurer may deny part of your claim by arguing that your failure
                                    to follow through with treatment – and not your work-related injury – is what caused your serious
                                    injuries.</p></li>
                            <li><p>Third, you will need to provide written notification of your injury to your employer. This must
                                be done within 30 days of your injury. There is a specific form that must be completed in order
                                to provide notice according to the law.</p></li>
                            <li><p>Finally, you will file a claim for DBA benefits with your employer’s DBA insurer. If possible, this should be done within one year of the injury as a claimant can lose his or her entitlement to certain benefits after this time in some cases. It is during this step that your employer’s DBA insurer is likely to challenge your claim if they feel you are not entitled to benefits. Your claim can be approved rather quickly, or it can take some time before your claim is resolved.</p></li>
                        </ul>

                        <div class="section-subheader">
                            <h3>Do I Need a Injury Attorney’s Help?</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

                        <p>
                            Although you do not need an attorney to file a claim under the DBA, having an experienced
                            attorney’s help can prove invaluable. Not only can an experienced attorney help guide you
                            through the DBA process, helping you avoid costly pitfalls and delays, but he or she can also
                            help you overcome any objections that the insurer may raise.
                        </p>

                    </div>
                </div>
            </div>

        </div>
    </div>



    {{cta-banner}}

    {{contact-section}}
</div>