{{nav-bar}}
<div class="countries" id="kuwaitPage">
    {{cta-circles}}

    <div id="kuwaitMapBg"></div>
    <div class="page-content">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">

                        <h4><em>Injured</em></h4>

                        <h3>In Kuwait</h3>

                        <div id="headerDivider">
                            <div id="dividerStart"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="section-content">

                        <p>
                            Kuwait may be small, but it has played a prominent role in the U.S. military’s operations in the Middle East for well over twenty years. As the terror group ISIS / ISIL and other similar organizations develop and spread in the area, Kuwait remains an important partner for the U.S. in the region.
                        </p>

                        <p class="block-quote">
                            <span id="openQuote">“</span>Kuwait may be small, but it has played a
                            prominent role in the U.S. military’s operations<span id="closeQuote">”</span>
                        </p>

                        <p>
                            Many Americans first heard of Kuwait in the 1990s when the leader of Iraq at the time, Saddam Hussein, attempted to invade and annex Kuwait. The international community responded resoundingly: over thirty nations including the U.S. pushed back the advance of the Iraqi military and halted their plans for conquest. Once liberated, Kuwait became an important staging area for Allied forces from which they could launch attacks into Iraq. Today, Kuwait continues to be an important staging area for U.S. troops and equipment as the U.S. battles ISIS / ISIL.
                        </p>

                        <p>
                            Kuwait is home to Camps Buehring and Arifjan, Ali Al Salem Air Base, amongst others. U.S. land, sea, and air assets are located throughout Kuwait.
                        </p>

                        <div class="section-subheader">
                            <h3>Civilian Workers in Kuwait Can Suffer Workplace Injuries</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

                        <p>
                            With such a large military presence in Kuwait, it should come as no surprise that there are also a large number of civilian support personnel as well. These individuals perform a variety of services that support U.S. military operations and can include:
                        </p>

                        <ul>
                            <li>Private security contractors who provide base security or security for VIPs;</li>
                            <li>Telecommunication contractors;</li>
                            <li>Construction contractors;</li>
                            <li>Food service and management contractors;</li>
                            <li>Translators;</li>
                            <li>Other service personnel.</li>
                        </ul>

                        <p>
                            Even though an enemy invasion of Kuwait seems unlikely, the presence of military forces in Kuwait provides no guarantee that civilian workers will not suffer workplace injuries. Had these civilians been injured in the United States, then they could file a workers’ compensation claim under the laws of whatever state in which they suffered their injury. But workers injured in Kuwait do not have this ability since they are not located in a “state.”
                        </p>    


                        <div class="section-subheader">
                            <h3>The Defense Base Act Provides Compensation to Injured Workers in Kuwait</h3>
                            <div id="subHeaderDivider">

                            </div>
                        </div>

                        <p>
                            Recognizing this problem, Congress enacted the Defense Base Act (DBA) several decades ago to provide a means whereby injured workers who are working outside the United States can receive benefits similar to those provided by state workers’ compensation statutes.
                        </p>

                        <p>
                            In particular, benefits under the DBA can include:
                        </p>

                        <ul class="numbered-li">
                            <li><p>Payment of reasonable medical treatment;</p></li>
                            <li><p>A portion of the worker’s wages if he or she must miss time from work;</p></li>
                            <li><p>Compensation for temporary or permanent disability;</p></li>
                            <li><p>Benefits to surviving family members if the worker suffers a fatal injury.</p></li>
                        </ul>

                        <div class="section-subheader">
                            <h3>How Do I Get Benefits Under the DBA?</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

                        <p>
                            Although there are not many steps to complete before you receive benefits under the DBA, the process can still be complex. Not only are there time limitations to contend with, but your employer’s DBA-insurance provider can challenge your benefits if they believe your injury is not workplace related.
                        </p>

                        <p>
                            Obtaining benefits under the DBA following a workplace injury begins with your injury taking place. As difficult as it may be, you will want to remember as many details as you can about your injury: what happened, when did it happen, did anyone see it happen, what were you doing before it happened, etc. You will need to remember these details both for when you see the doctor and when you file your claim paperwork.
                        </p>
 
                        <p>
                            Next, you should (if possible) provide notification to your immediate supervisor. If you are in serious medical distress – you just lost a limb, are bleeding profusely, etc. – you can and should go straight to see a doctor or to the emergency room.
                        </p>
 
                        <p>
                            Typically within 30 days of your injury you must give your employer written notification using an approved form. Failure to do this can mean that your claim is delayed (at the very least), although in some cases your claim may be denied.
                        </p>
 
                        <p>
                            Once you have provided written notification to your employer, you will then file your claim for benefits with your employer’s DBA-insurance provider. At this stage your employer’s DBA-insurance provider is likely to challenge your claim with allegations such as:
                        </p>

                        <ul>
                            <li>Your injury was not sustained during work activities or in a war zone;</li>
                            <li>Your injury was actually preexisting and your work activities did not aggravate it;</li>
                            <li>You failed to comply with procedural requirements.</li>
                        </ul>

                        <div class="section-subheader">
                            <h3>
                                A Defense Base Act Attorney Increases Your Odds of Success
                            </h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

                        <p>
                            The complexity of DBA claims following an injury in Kuwait illustrates the need for a knowledgeable and zealous DBA claim attorney. Trying to recover benefits on your own through a DBA claim is permitted, but is generally not advisable. Contacting one soon after your injury can help alleviate a lot of stress and worry. He or she can tell you what to expect from the process and what steps you need to take in order to increase your chances of success.
                        </p>

                    </div>
                </div>
            </div>

        </div>
    </div>


    {{cta-banner}}

    {{contact-section}}
    
</div>