{{nav-bar}}
<div class="countries" id="qatarPage">
    <div class="circle-cta"><a href="tel:9547490500" id="phoneCta"></a><a href="#" id="emailCta"></a></div>

    <div id="qatarMapBg"></div>
    <div class="page-content">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">

                        <h4><em>Injured</em></h4>

                        <h3>In Qatar</h3>

                        <div id="headerDivider">
                            <div id="dividerStart"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="section-content">

                        <p>
                            Situated near the Persian Gulf on the Arabian Peninsula lies the small but strategically important country of Qatar. The country’s government is generally friendly toward the United States as well as several other countries (such as the United Kingdom and Saudi Arabia) and has allowed the U.S. and its allies to use its airspace and some air bases as they carry out missions in Iraq and Afghanistan.
                        </p>
                        
                        <p class="block-quote">
                            <span id="openQuote">“</span> The country’s government is generally friendly toward the United States<span id="closeQuote">”</span>
                        </p>

                        <p>
                            Qatar is also home to the sprawling Al Udeid Air Base, an air base that is used by both the U.S. and U.K. militaries. It is also the home for a number of units and is the site of one headquarter for the United States Central Command. It is estimated that several thousand U.S. servicemen live and serve at this base alone.
                        </p>
 
                        <p>
                            The thousands of servicemen and women stationed at Al Udeid are supported by large contingent of civilian employees and contractors who assist in performing a wide variety of essential tasks like:
                        </p>

                        <ul>
                            <li>Providing security for the base and for visiting dignitaries and other important individuals;</li>
                            <li>Transporting supplies to, from, and around the base;</li>
                            <li>Helping prepare and oversee the service of food;</li>
                            <li>Providing medical care and treatment on and off the base.</li>
                        </ul>

                        <p>
                            Just because Al Udeid is located in the friendly country of Qatar does not mean that civilian workers are free from the risk of injury or death. If one of these occurs, the Defense Base Act may provide compensation for these workers or their families.
                        </p>


                        <div class="section-subheader">
                            <h3>Why the Defense Base Act is Essential for Qatar-Based Workers</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

                        <p>
                            All of the U.S. states have workers’ compensation laws. These laws give workers injured in that state a procedure whereby the worker can recover compensation for their injuries. Since these laws are often only applicable to individuals working within the boundaries of that particular state, state workers’ compensation laws cannot provide any protections or benefits to workers who are injured outside the country.
                        </p>

                        <p>
                            To help remedy this situation, Congress passed the Defense Base Act (DBA) several decades ago. This requires certain employers – such as those who contract with the U.S. government to provide certain services – to carry DBA-compliant insurance whenever the work or services are to be performed overseas.
                        </p>

                        <p>
                            The Defense Base Act and DBA insurance provide a way that certain civilian workers in Qatar and elsewhere through the world can recover:
                        </p>

                        <ul>
                            
                            <li>The costs of their medical treatment;</li>
                            <li>A portion of the wages they lose as a result of having to miss work;</li>
                            <li>Compensation for periods of temporary or permanent disability;</li>
                            <li>Funeral and burial benefits, if they suffer fatal injuries.</li>
                        </ul>

                        <div class="section-subheader">
                            <h3>How Do I Get Compensation After an Injury in Qatar?</h3>
                            <div id="subHeaderDivider">

                            </div>
                        </div>

                        <p>
                            Although the DBA provides civilian workers in Qatar with benefits that mimic the workers’ compensation benefits of many of the U.S. states, receiving these benefits after an injury is not automatic. There are a number of things the injured worker must prove, including:
                        </p>

                        
                        <ul class="bold-start">

                            <li><p><span>The DBA applies to the injured worker and his or her employer.</span> The Defense Base Act only applies to certain employers who either have contracts with the U.S. government or who are performing certain types of work. If an injured worker does not work for a company covered by the DBA, then he or she will need to seek compensation elsewhere.</p></li>

                            <li><p><span>The injury was suffered in the course of the employee’s work.</span> In most cases, in order for an injury to be covered by the employer’s DBA insurance, the injury must be related to the employee’s job. For example, a transportation driver hired to drive an oil tanker in Qatar under a contract with the U.S. government may have a difficult time obtaining benefits under the DBA if he or she is injured while attempting to frame a house, compensation may not be available. If you wait too long before seeking medical treatment after an injury, it may be more difficult for you to show that your injury was work-related.</p></li>

                            <li><p><span>The injury was due to the unique dangers of the area.</span> If the injury is not work-related, compensation may nonetheless be available if an injury was due to the unique dangers present in the area. For a place like Iraq, this may include being injured by terrorist attacks. In a relatively secure country like Qatar, however, this option may not be available.</p></li>

                        </ul>

                        <div class="section-subheader">
                            <h3>Other Avenues to Obtain Compensation</h3>
                            <div id="subHeaderDivider">
                            </div>
                        </div>

                        <p>
                            Speaking with an attorney experienced in injuries in Qatar is essential in order to ensure you obtain the compensation you deserve. There may be laws and programs available to you other than the Defense Base Act. For many of these programs, however, you must comply with certain deadlines for reporting your injury in order to be eligible for benefits. Your Qatar injury An attorney can help you understand the process for obtaining compensation, guide you along the way, and increase your chances for receiving compensation.
                        </p>

                    </div>
                </div>
            </div>

        </div>
    </div>



    {{cta-banner}}

    {{contact-section}}

    
</div>