<div class="row">
                <div class="col-md-12">
                    <div class="section-header">

                        <div id="teamMemberTitle">
                            <h4><em>Attorney</em></h4>

                            <h3>Alexander Baisden</h3>

                            <div id="headerDivider">
                                <div id="dividerStart"></div>
                            </div>
                        </div>

                        <div id="alexAbout">
                        	{{team-about-tabs}}
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="team-tabs-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="team-member-wrapper">
                                <div class="team-member-icon">
                                    <img src="/imgs/alex.png" alt="Alexander Baisden Icon Image">
                                </div>
                                <div class="about-accordion-wrapper">
                                    <div class="about-accordion">
                                        {{#em-accordion configName='bs' selected-idx=1}}
                                            {{#em-accordion-item title="Education"}}
                                                <ul>
                                                    <li>J.D., University of Florida Levin College of Law, 2012</li>
                                                    <li>B.S., Florida State University, Magna cum laude, 2009</li>
                                                </ul>
                                            {{/em-accordion-item}}
                                            {{#em-accordion-item title="Bar Admissions"}}
                                                <ul>
                                                    <li>Florida Bar, 2012</li>
                                                    <li>Illinois Bar, 2013</li>
                                                    <li>Middle District of Florida, 2013</li>
                                                    <li>Southern District of Florida, 2014</li>
                                                </ul>
                                            {{/em-accordion-item}}
                                            {{#em-accordion-item title="Honors & Awards"}}
                                                <ul>
                                                    <li>Certificate in Estates & Trusts Practice, 2012</li>
                                                    <li>Ralph R. Bailey Scholarship Recipient, 2009</li>
                                                </ul>
                                            {{/em-accordion-item}}
                                        {{/em-accordion}}
                                    </div>         
                                </div>
                                
                            </div>
                        
                            
                        </div>
                        <div class="col-md-8">
                            <div class="team-tab-body">    
                                <div class="intro-video-wrapper">
                                    <div class="image-underline"></div>
                                    <div class="intro-video">
                                        {{ember-youtube ytid="FogdcUhcFY0" autoplay=false}}
                                    </div>    
                                </div>

                                    <p>Alex Baisden focuses his practice on representing individuals who have been injured either on the job or by the negligence of another. Alex’s experience includes litigation of personal injury claims, Florida state workers’ compensation claims, and claims under the Longshore and Harbor Workers’ Compensation Act.</p>

                                    <p>Alex was admitted to the Florida Bar in October 2012. He is also licensed to practice law in Illinois and before the U.S. District Courts for the Southern and Middle Districts of Florida.</p>

                                    <p>Alex received his Juris Doctorate from the University of Florida, Levin College of Law. While in law school, he served as a certified legal intern and was awarded a Certificate in Estate & Trusts Practice. Prior to attending law school, Alex graduated Magna Cum Laude from Florida State University with a degree in Business Finance.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>