<div class="row">
                <div class="col-md-12">
                    <div class="section-header">

                        <div id="teamMemberTitle">
                            <h4><em>Attorney</em></h4>

                            <h3>Alexander Baisden</h3>

                            <div id="headerDivider">
                                <div id="dividerStart"></div>
                            </div>
                        </div>

                        <div id="alexAbout">
                        	{{team-about-tabs}}
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="team-tabs-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="team-member-wrapper">
                                <div class="team-member-icon">
                                    <img src="/imgs/alex.png" alt="Alexander Baisden Icon Image">
                                </div>
                                <div class="about-accordion">
                                    <div class="accordion-group">
                                        <div class="accordion-title">
                                            <a class="accordion-toggle">
                                                <p><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Education</p>
                                            </a>
                                        </div>
                                        <div class="accordion-content active">
                                            <p>Our lawyers take the time to listen to our clients and understand their unique needs and goals. We advise clients of their options and the legal impact of such options.</p>
                                        </div>
                                    </div>    
                                    <div class="accordion-group">
                                        <div class="accordion-title">
                                            <a class="accordion-toggle">
                                                <p><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Experience</p>
                                            </a>
                                        </div>
                                        <div class="accordion-content">
                                            <p>Our lawyers take the time to listen to our clients and understand their unique needs and goals. We advise clients of their options and the legal impact of such options.</p>
                                        </div>
                                    </div>    
                                    <div class="accordion-group">
                                        <div class="accordion-title">
                                            <a class="accordion-toggle">
                                                <p><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Personal</p>
                                            </a>
                                        </div>
                                        <div class="accordion-content">
                                            <p>Our lawyers take the time to listen to our clients and understand their unique needs and goals. We advise clients of their options and the legal impact of such options.</p>
                                        </div>
                                    </div>    
                                </div>
                                
                            </div>
                        
                            
                        </div>
                        <div class="col-md-8">
                            <div class="team-tab-body">    
                                <div class="intro-video-wrapper">
                                    <div class="image-underline"></div>
                                    <div class="intro-video">
                                        <img src="/imgs/video-example.png" alt="Mario Perez About Video">
                                    </div>    
                                </div>

                                    <p>I grew up in a household where law and justice were often the topics of conversation.  From an earlyage, I knew that I wanted to be an attorney and help people through the legal process. Later, when I was studying business in college, I learned how large businesses, and specifically insurance companies, can use their power and resources to gain an advantage over individuals. That’s when I first realized how important an individual’s legal representation is when going up against insurance companies.   Litigation is often the only tool a person has to get the compensation he or she deserves.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>