<div class="row">
                <div class="col-md-12">
                    <div class="section-header">

                        <div id="teamMemberTitle">
                            <h4><em>Attorney</em></h4>

                            <h3>Genevieve Baisden</h3>

                            <div id="headerDivider">
                                <div id="dividerStart"></div>
                            </div>
                        </div>

                        <div id="genevieveAbout">
                        	{{team-about-tabs}}
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="team-tabs-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="team-member-wrapper">
                                <div class="team-member-icon">
                                    <img src="/imgs/genavive.png" alt="Genavive Baisden Icon Image">
                                </div>
                                <div class="about-accordion">
                                    <div class="accordion-group">
                                        <div class="accordion-title">
                                            <a class="accordion-toggle">
                                                <p><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Education</p>
                                            </a>
                                        </div>
                                        <div class="accordion-content active">
                                            <p>Our lawyers take the time to listen to our clients and understand their unique needs and goals. We advise clients of their options and the legal impact of such options.</p>
                                        </div>
                                    </div>    
                                    <div class="accordion-group">
                                        <div class="accordion-title">
                                            <a class="accordion-toggle">
                                                <p><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Experience</p>
                                            </a>
                                        </div>
                                        <div class="accordion-content">
                                            <p>Our lawyers take the time to listen to our clients and understand their unique needs and goals. We advise clients of their options and the legal impact of such options.</p>
                                        </div>
                                    </div>    
                                    <div class="accordion-group">
                                        <div class="accordion-title">
                                            <a class="accordion-toggle">
                                                <p><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Personal</p>
                                            </a>
                                        </div>
                                        <div class="accordion-content">
                                            <p>Our lawyers take the time to listen to our clients and understand their unique needs and goals. We advise clients of their options and the legal impact of such options.</p>
                                        </div>
                                    </div>    
                                </div>
                                
                            </div>
                        
                            
                        </div>
                        <div class="col-md-8">
                            <div class="team-tab-body">    
                                <div class="intro-video-wrapper">
                                    <div class="image-underline"></div>
                                    <div class="intro-video">
                                        <img src="/imgs/video-example.png" alt="Mario Perez About Video">
                                    </div>    
                                </div>

                                    <p>I’m grateful to have always had strong role models in my life who instilled many values in me, including service, community, and independence, and who encouraged me to pursue a career helping people and giving back to my community. I’ve found that serving as an advocate for individuals who have been injured allows me to do just that. </p>

                                    <p>I spent my first few years out of law school defending corporations and insurance companies, and while that gave me valuable insight into how the system works, I didn’t feel like I was helping people in the way I’d always imagined I would as an attorney. So, after a few years, I decided to switch sides. I’m very happy I did. I now find the practice of law much more rewarding, and I feel privileged to now be in a position to serve my clients in meaningful ways, helping them get their lives back on track after an injury.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>