<div class="row">
                <div class="col-md-12">
                    <div class="mobile-tabs" id="genevieveAbout">
                        {{team-about-tabs}}
                    </div>
                    <div class="no-top section-header">
                        <div id="teamMemberTitle">
                            <h4><em>Attorney</em></h4>

                            <h3>Genevieve Baisden</h3>

                            <div id="headerDivider">
                                <div id="dividerStart"></div>
                            </div>
                        </div>

                        <div class="desktop-tabs" id="genevieveAbout">
                            {{team-about-tabs}}
                        </div>                      
                    </div>
                </div>
            </div>

            <div class="team-tabs-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="team-member-wrapper">
                                <div class="team-member-icon">
                                    <img src="/imgs/genavive.png" alt="Genavive Baisden Icon Image">
                                </div>
                                <div class="about-accordion-wrapper">
                                    <div class="about-accordion">
                                        {{#em-accordion configName='bs' selected-idx=1}}
                                            {{#em-accordion-item title="Education"}}
                                                <ul>
                                                    <li>J.D., University of Florida Levin College of Law, cum laude, 2012</li>

                                                    <li>B.S., University of Florida, cum laude, 2007</li>
                                                </ul>
                                            {{/em-accordion-item}}
                                            {{#em-accordion-item title="Bar Admissions"}}
                                                <ul>
                                                    <li>Florida Bar, 2012</li>
                                                    <li>Illinois Bar, 2013</li>
                                                    <li>Southern District of Florida, 2012</li>
                                                </ul>
                                            {{/em-accordion-item}}
                                            {{#em-accordion-item title="Honors & Awards"}}
                                                <ul>
                                                    <li>Book Awards in Advanced Legal Research, Advanced Torts, Intimate Partner Violence Assistance Clinic, and Legal Drafting</li> 

                                                    <li>Accomplished Research Award and Outstanding Associate Editor Award in Florida Law Review</li>

                                                    <li>University of Florida Levin College of Law Dean’s List</li> 

                                                    <li>University of Florida Dean’s List</li> 

                                                    <li>Phi Beta Kappa Society</li>
                                                </ul>
                                            {{/em-accordion-item}}
                                        {{/em-accordion}}
                                    </div>         
                                </div>
                                
                            </div>
                        
                            
                        </div>
                        <div class="col-md-8">
                            <div class="team-tab-body">    
                                <div class="intro-video-wrapper">
                                    <div class="image-underline"></div>
                                    <div class="intro-video">
                                        {{ember-youtube ytid="1ubCWxDT4y8" autoplay=false}}
                                    </div>    
                                </div>

                                    <p>Genevieve focuses her practice on representing injured individuals in personal injury claims, Florida State workers’ compensation claims, and claims brought under the Longshore and Harbor Workers’ Compensation Act. Prior to joining Baisden & Perez, Genevieve represented corporations and insurance companies. Her understanding of how these corporate defendants approach litigation provides her a unique perspective, allowing her to better advocate for her clients. </p>

                                    <p>Originally from northern Illinois, Genevieve relocated in 2004 to attend the University of Florida.  Graduating with honors in 2007, she received her Bachelor of Science degree in Psychology and was elected to the Phi Beta Kappa Society.  She went on to attend the University of Florida Levin College of Law, from which she received her Juris Doctor, cum laude, in 2012.  While in law school, Genevieve served as a Senior Research Editor for the Florida Law Review and was an active member of the John Marshall Bar Association Governing Board.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>