            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">

                        <div id="teamMemberTitle">
                            <h4><em>Attorney</em></h4>

                            <h3>Mario Perez</h3>

                            <div id="headerDivider">
                                <div id="dividerStart"></div>
                            </div>
                        </div>

                        <div id="marioAbout">
                            {{team-about-tabs}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="team-tabs-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="team-member-wrapper">
                                <div class="team-member-icon">
                                    <img src="/imgs/mario.png" alt="Mario Perez Icon Image">
                                </div>
                                <div class="about-accordion-wrapper">
                                    <div class="about-accordion">
                                        {{#em-accordion configName='bs' selected-idx=1}}
                                            {{#em-accordion-item title="Education"}}
                                                <ul>
                                                    <li>Florida International University, BS Criminal Justice, 1994, Magna Cum Laude</li>
                                                    <li>University of Florida, Juris Doctrate, 1997, High Honors</li>
                                                </ul>
                                            {{/em-accordion-item}}
                                            {{#em-accordion-item title="Bar Admissions"}}
                                                <ul>
                                                    <li>Florida Bar, 2012</li>
                                                    <li>Southern and Norther District of Florida</li>
                                                    <li>Middle District of Florida, 2013</li>
                                                    <li>United States Court of Appeals for the 11th Circuit</li>
                                                </ul>
                                            {{/em-accordion-item}}
                                            {{#em-accordion-item title="Publications"}}
                                                <ul>
                                                    <li>Fla Bar Journal Vol. LXXIV, No. 1, January 2000 pp73-7</li>
                                                    <li>Fla Bar Journal, Vol. LXXV, No. 2, February 2001 pp 57-61</li>
                                                </ul>
                                            {{/em-accordion-item}}
                                        {{/em-accordion}}
                                    </div>         
                                </div>
                                
                            </div>
                        
                            
                        </div>
                        <div class="col-md-8">
                            <div class="team-tab-body">    
                                <div class="intro-video-wrapper">
                                    <div class="image-underline"></div>
                                    <div class="intro-video">
                                        {{ember-youtube ytid="2MmShCDjhv0" autoplay=false}}
                                    </div>    
                                </div>

                                    <p>Mario L. Perez is a Cuban-American and is fluent in both English and Spanish. He was born and raised in Miami, FL. He received his undergraduate degree in 1994 with honors in the areas of Criminology and Psychology from Florida International University. Mr. Perez received his J.D. degree in 1997 from the University of Florida, where he also graduated with honors. Since 1997, Mr. Perez has written articles in the arena of Workers Compensation that have been published by the Florida Bar. Additionally, Mr. Perez has been involved in numerous trials and has written numerous Appellate briefs in the area of Workers Compensation. </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>