			<div class="row">
                <div class="col-md-12">
                    <div class="section-header">

                        <div id="teamMemberTitle">
                            <h4><em>Attorney</em></h4>

                            <h3>Mario Perez</h3>

                            <div id="headerDivider">
                                <div id="dividerStart"></div>
                            </div>
                        </div>

                        <div id="marioAbout">
                        	{{team-about-tabs}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="team-tabs-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="team-member-wrapper">
                                <div class="team-member-icon">
                                    <img src="/imgs/mario.png" alt="Mario Perez Icon Image">
                                </div>
                                <div class="about-accordion">
                                    <div class="accordion-group">
                                        <div class="accordion-title">
                                            <a class="accordion-toggle">
                                                <p><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Education</p>
                                            </a>
                                        </div>
                                        <div class="accordion-content active">
                                            <p>Our lawyers take the time to listen to our clients and understand their unique needs and goals. We advise clients of their options and the legal impact of such options.</p>
                                        </div>
                                    </div>    
                                    <div class="accordion-group">
                                        <div class="accordion-title">
                                            <a class="accordion-toggle">
                                                <p><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Experience</p>
                                            </a>
                                        </div>
                                        <div class="accordion-content">
                                            <p>Our lawyers take the time to listen to our clients and understand their unique needs and goals. We advise clients of their options and the legal impact of such options.</p>
                                        </div>
                                    </div>    
                                    <div class="accordion-group">
                                        <div class="accordion-title">
                                            <a class="accordion-toggle">
                                                <p><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Personal</p>
                                            </a>
                                        </div>
                                        <div class="accordion-content">
                                            <p>Our lawyers take the time to listen to our clients and understand their unique needs and goals. We advise clients of their options and the legal impact of such options.</p>
                                        </div>
                                    </div>    
                                </div>
                                
                            </div>
                        
                            
                        </div>
                        <div class="col-md-8">
                            <div class="team-tab-body">    
                                <div class="intro-video-wrapper">
                                    <div class="image-underline"></div>
                                    <div class="intro-video">
                                        <img src="/imgs/video-example.png" alt="Mario Perez About Video">
                                    </div>    
                                </div>

                                    <p>Mario L. Perez is a Cuban-American and is fluent in both English and Spanish. He was born and raised in Miami, FL. He received his undergraduate degree in 1994 with honors in the areas of Criminology and Psychology from Florida International University. Mr. Perez received his J.D. degree in 1997 from the University of Florida, where he also graduated with honors. Since 1997, Mr. Perez has written articles in the arena of Workers Compensation that have been published by the Florida Bar. Additionally, Mr. Perez has been involved in numerous trials and has written numerous Appellate briefs in the area of Workers Compensation. </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>