<div class="row">
                <div class="col-md-12">
                    <div class="mobile-tabs" id="randellAbout">
                        {{team-about-tabs}}
                    </div>
                    <div class="no-top section-header">
                        <div id="teamMemberTitle">
                            <h4><em>Attorney</em></h4>

                            <h3>Randell Baisden</h3>

                            <div id="headerDivider">
                                <div id="dividerStart"></div>
                            </div>
                        </div>

                        <div class="desktop-tabs" id="randellAbout">
                            {{team-about-tabs}}
                        </div>             
                    </div>
                </div>
            </div>

            <div class="team-tabs-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="team-member-wrapper">
                                <div class="team-member-icon">
                                    <img src="/imgs/randall.png" alt="Randall Icon Image">
                                </div>
                                <div class="about-accordion-wrapper">
                                    <div class="about-accordion">
                                        {{#em-accordion configName='bs' selected-idx=1}}
                                            {{#em-accordion-item title="Education"}}
                                                <ul>
                                                    <li>Juris Doctorate Degree from West Virginia University College of Law</li>
                                                    <li>Business Degree from Marshall University</li>
                                                </ul>
                                            {{/em-accordion-item}}
                                            {{#em-accordion-item title="Experience"}}
                                                <ul>
                                                    <li>Workers Compensation and Personal Injury cases in South Florida for  OVER 20 YEARS!</li>
                                                </ul>
                                            {{/em-accordion-item}}
                                        {{/em-accordion}}
                                    </div>         
                                </div>
                                
                            </div>
                        
                            
                        </div>
                        <div class="col-md-8">
                            <div class="team-tab-body">    
                                <div class="intro-video-wrapper">
                                    <div class="image-underline"></div>
                                    <div class="intro-video">
                                        {{ember-youtube ytid="up6mQUkR548" autoplay=false}}
                                    </div>    
                                </div>

                                    <p>Randell Baisden has been litigating Workers Compensation and Personal Injury cases in South Florida for 20 years.  He represents people who have been injured, whether the injury was the result of an auto accident, slip/fall or any other type of negligence. He specializes in work injuries, including Longshore cases.</p>

                                    <p>Randell graduated college with a business degree from Marshall University before obtaining his Juris Doctorate degree from West Virginia University College of Law.  Early in his career, Randell worked for corporations and the insurance industry.  Ultimately, he was directed by his conscience and the desire to be on the side of working people to represent individuals rather than corporations.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>