<div class="countries" id="aboutPage">
{{nav-bar}}

    <div class="circle-cta"><a href="tel:9547490500" id="phoneCta"></a><a href="#" id="emailCta"></a></div>
    
    

    <div class="page-content">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="about-section-header">
                        <h4><em>Welcome To</em></h4>
                        <h3>Baisden &amp; Perez</h3>
                        <h4>Attorneys at Law</h4>
                        <div id="aboutDividerStart"></div>
                        <div class="about-section-content">
                            <p class="center">
                                Knowing communication is the key to success, we take pride in our ability to provide clients with informative, attentive and client-centered legal services. Our lawyers take the time to listen to our clients and understand their unique needs and goals. We advise clients of their options and the legal impact of such options. As a result, clients are capable of maintaining control and have confidence in the outcome. We strive to provide our clients with the responsive and individualized attention they deserve.
                            </p>
                        
                        </div>
                        <div id="teamSectionWrapper">
                            <div id="teamSection">
                                <img src="/imgs/team.png">
                                <div class="image-underline"></div>
                            </div>
                        </div>
                        {{liquid-outlet}}
                    </div>
                </div>
            </div>

            
        </div>
    </div>

    {{cta-banner}}
    {{contact-section}}

</div>

