<div id="bp-web-wrapper">
	<div {{bind-attr class="isLandingRoute::wrapper"}}>
	{{#if isLandingRoute}}
		{{landing-header}}
	{{/if}}
		{{outlet}}
	{{#unless isLandingRoute}}
	    <div class="footer-wrapper">
		    {{main-footer}}
		</div>
	{{/unless}}
	</div>
</div>
