<!-- Header -->
<header>
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-8">

                <h1 class="intro-text">   
                    Injured Overseas? We Can Help!
                </h1>
                <p class="intro-tagline">
                    We are DBA Attorneys Representing Civilian Contractors who have been Injured Abroad.
                </p>
                <ul class="check-mark-bullet">
                    <li><p>Defense Base Act</p></li>
                    <li><p>Personal Injury</p></li>
                    <li><p>Workers' Compensation</p></li>
                    <li><p>Longshore Act</p></li>
                    <li><p>Maritime Law</p></li>
                </ul>
            </div>
            <div class="col-md-4">
                {{landing-form}}
            </div>
        </div>    
    </div>
</header>

{{mobile-landing-cta}}

<div class="cta-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-8">
                    <p>
                        Schedule Your FREE Video Conference! - <a href="">(954) 800-2896</a>
                    </p>
                </div>
                <div class="col-md-4">
                </div>

            </div>
        </div>
    </div>    

</div>

<div id="homeServices">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="section-content">

                    <div class="col-md-12">
                        <div class="col-md-4">
                            <p class="cases-won">Thousands<br><span>of Cases Handled</span></p>
                        </div>
                        <div class="services-wrapper">
                            
                            <div class="col-md-4">
                                <div class="service-container">
                                    <div id="icon"><img src="imgs/icon-2.png"></div>
                                    <h2>Personal Injury</h2>
                                    <p class="services">Let’s face it – our world is a dangerous place. Through no fault of our own and with little or no warning, we can find ourselves seriously injured. This can throw our personal lives and the lives of our families into disorder.</p>
                                    
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="service-container">
                                    <div id="icon"><img src="imgs/icon-1.png"></div>
                                    <h2>Defense Base Act</h2>
                                    <p class="services">The DBA was passed to provide protections for civilian employees working on overseas U.S. military bases and installations. Since then, its protections have been expanded so that now nearly all employers must carry DBA insurance...</p>
                                    
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="service-container">
                                    <div id="icon"><img src="imgs/icon-3.png"></div>
                                    <h2>Longshore Act</h2>
                                    <p class="services">Shipyards and harbors have always been dangerous places to work. Not only is the danger of drowning ever-present, but the presence of heavy machinery, tall ships, and large loads of cargo all make an injury more...</p>
                                    
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="service-container">
                                    <div id="icon"><img src="imgs/icon-4.png"></div>
                                    <h2>Workers' Compensation</h2>
                                    <p class="services">A workplace injury occurs suddenly and without warning, creating disruption and uncertainty in your life and the life of your family. These incidents are often accompanied by extensive medical bills and time missed away from work. </p>
                                    
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="service-container">
                                    <div id="icon"><img src="imgs/icon-3.png"></div>
                                    <h2>Maritime Law</h2>
                                    <p class="services">When a dispute arises on the “high seas” – whether the ocean, a river, or even a canal – then the dispute is settled according to the principles of maritime law. Only an attorney with experience in handling maritime law cases can help ensure your case’s success.</p>
                                   
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<div class="cta-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-8">
                    <p>
                        Schedule Your <b>FREE</b> Video Conference Consultation!
                    </p>
                </div>
                <div class="col-md-4">
                    <button type="submit" class="contactButton">Let's Talk</button>
                </div>

            </div>
        </div>
    </div>    

</div>

<div class="landing-home-intro">
	<div class="container">
	    <div class="row">

	        <div class="col-md-12 text-center">
	            <div class="section-header">
	                <h4><em>Welcome To</em></h4>
	                <h3>Baisden &amp; Perez</h3>
	                <div id="headerDivider">
	                    <div id="dividerStart"></div>
	                </div>
	            </div>
	        </div>

	        <div class="col-md-12">
	            <div class="section-content">
	                <div class="col-md-4">
	                    <p class="money-recovered"><em>Over</em><br>50 Years<br><span>Of Combined Legal Experience</span></p>
	                </div>

	                <div class="col-md-8">
	                    <div id="homeAbout">
	                        <h1>Get To Know Us</h1>

	                        <p>
	                            It can be overwhelming to face challenging legal issues, such as DBA case or recovering compensation following a serious injury. At the law office of Baisden &amp; Perez, we’re committed to pursuing efficient and successful resolutions to our clients’ legal burdens.Regardless of the legal matter we take on, our clients are always of the utmost concern. Schedule an initial consultation with our skilled lawyers by contacting us today. We serve individuals, families and businesses Everywhere.
	                            <br>
	                            <br>
	                            As a small law firm, we are capable of providing clients with the responsive and individualized attention they deserve. However, we also have the experience and resources expected from a larger law firm.
	                            <br>
	                            <br>
	                            For quality legal representation, <a href="#contact">contact our South Florida law firm</a> today. We offer free, confidential consultations.
	                        </p>
	                    </div>
	                </div>
	                <div class="clearfix"></div>
	            </div>
	        </div>
	    </div>
	</div>
</div>
<div id="homeTeam" style="background: #fff;">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="section-content" id="teamMembersWrapper">
                    <div id="teamMembers">

                        <div class="col-md-3">
                            <div class="team-member-wrapper-solo">
                                <h3>Mario Perez</h3>
                                <h4>Partner</h4>
                                <img src="imgs/placeholder-team-3.png">
                                <p>Mario L. Perez is a Cuban-American and is fluent in both English and Spanish. He was born and raised in Miami, FL. He received his undergraduate degree in 1994...</p>
                                <a class="service-btn" data-toggle="modal" data-target="#myModal">Watch Bio Video</a>

                                <!-- Modal -->
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Mario Perez</h4>
                                      </div>
                                      <div class="modal-body">
                                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/2MmShCDjhv0" frameborder="0" allowfullscreen></iframe>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="team-member-wrapper-solo">
                                <h3>Randell Baisden</h3>
                                <h4>Partner</h4>
                                <img src="imgs/placeholder-team-2.png">
                                <p>Randell Baisden has been litigating Workers' Compensation and Personal Injury cases in South Florida for 20 years.  He represents people who have been injured...</p>
                                <a class="service-btn"data-toggle="modal" data-target="#myModal2">Watch Bio Video</a>

                                <!-- Modal -->
                                <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Randell Baisden</h4>
                                      </div>
                                      <div class="modal-body">
                                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/up6mQUkR548" frameborder="0" allowfullscreen></iframe>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="team-member-wrapper-solo">
                                <h3>Alexander Baisden</h3>
                                <h4>Associate</h4>
                                <img src="imgs/placeholder-team-1.png">
                                <p>Alex received his Juris Doctorate from the Levin College of Law at University of Florida. In addition to excelling in various areas of study, he served as a certified legal intern...</p>
                                <a class="service-btn"data-toggle="modal" data-target="#myModal3">Watch Bio Video</a>

                                <!-- Modal -->
                                <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Alexander Baisden</h4>
                                      </div>
                                      <div class="modal-body">
                                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/FogdcUhcFY0" frameborder="0" allowfullscreen></iframe>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="team-member-wrapper-solo">
                                <h3>Genevieve Baisden</h3>
                                <h4>Associate</h4>
                                <img src="imgs/placeholder-team-4.png">
                                <p>Genevieve focuses her practice on representing injured individuals in personal injury claims, Florida State workers’ compensation claims, and claims brought under the...</p>
                                <a class="service-btn"data-toggle="modal" data-target="#myModal4">Watch Bio Video</a>

                                <!-- Modal -->
                                <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Genevieve Baisden</h4>
                                      </div>
                                      <div class="modal-body">
                                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/1ubCWxDT4y8" frameborder="0" allowfullscreen></iframe>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="cta-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12 text-center">
                    <p>
                        Schedule Your <b>FREE</b> Video Conference Consultation!
                    </p>
                </div>
                

            </div>
        </div>
    </div>    

</div>

{{contact-section}}

<div class="bottom-footer">
    <div class="container">
        <p>Designed by <a href="http://www.handmade-digital.com/"> Handmade Digital</a> ©2015 All rights reserved.</p>
    </div>
</div>