<nav id="navBar">
    <div id="logo"><h1>Logo Here</h1></div>
    <ul id="mainMenu">
        <li>
          {{#link-to 'home'}}Home{{/link-to}}
        </li>
        <li>
          {{#link-to 'about'}}Get To Know Us{{/link-to}}
        </li>
        <li class="mega-submenu">
          {{#link-to 'defense-base-act'}}Defense Base Act{{/link-to}}
            <div class="mega-menu-wrapper" id="defenseBaseAct">
                <div class="mega-menu">
                    <div class="mega-menu-content">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="mega-drop-img">
                                    <img src="assets/assets/imgs/mega-drop-dba.png" alt="Mega drop down dba image">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="submenu-item-wrapper">
                                    <div class="col-md-12">
                                        <div class="sub-menu-title">
                                            <h2>Defense Base Act</h2>
                                            <div id="headerDivider">
                                                <div id="dividerStart"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="submenu-item">
                                            <li><a href="#">Why a Defense Base Act Attorney Makes Sense?</a></li>
                                            <li><a href="#">What to Expect After Filing a DBA Claim?</a></li>
                                            <li><a href="#">Defense Base Act Compensation</a></li>
                                            <li><a href="#">Defense Base Act Injuries</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="submenu-item">
                                            <li><a href="#">Defense Base Act Lawyers</a></li>
                                            <li><a href="#">Background of the Defense Base Act</a></li>
                                            <li><a href="#">What is the DBA Claims Process?</a></li>
                                            <li><a href="#">What is DBA Law?</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </li>
        <li class="mega-submenu">
          {{#link-to 'japan'}}Countries{{/link-to}}
          <p>hello kind sir 2</p>
          {{mega-menu}}
        </li>

        <li class="mega-submenu">
          {{#link-to 'practice-area'}}Practice Area{{/link-to}}
            <div class="mega-menu-wrapper" id="practiceArea">
                <div class="mega-menu">
                    <div class="mega-menu-content">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="mega-drop-img">
                                    <img src="assets/assets/imgs/mega-drop-practice.png" alt="Mega drop down practice area image">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="submenu-item-wrapper">
                                    <div class="col-md-12">
                                        <div class="sub-menu-title">
                                            <h2>Practice Areas</h2>
                                            <div id="headerDivider">
                                                <div id="dividerStart"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="submenu-item">
                                            <li><a href="#">Defense Base Act</a></li>
                                            <li><a href="#">Personal Injury</a></li>
                                            <li><a href="#">Longshore and Harbor Workers’ Compensation Act</a></li>
                                            <li><a href="#">Florida Workers’ Compensation Act</a></li>

                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="submenu-item">
                                            <li><a href="#">Cruise Ship Injuries</a></li>
                                            <li><a href="#">Jones Act</a></li>
                                            <li><a href="#">Non-Appropriated Fund Instrumentalities Act</a></li>
                                            <li><a href="#">Outer Continental Shelf Lands Act</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </li>
        <li>{{#link-to 'contact'}}Contact Us{{/link-to}}</li>
    </ul>
</nav>